[2021-12-02 17:34] lonlander opened #1 "Login feature in flipkart clone"
The flipkart clone can be improvised by adding a login page with the login credentials of users stored in a secure database.

[2021-12-02 17:35] lonlander commented on #1
I would like to work on this issue

[2021-12-03 08:35] D-Palamala-Sai-Niharika opened #2 "login and signup page for flipkart clone"
@Rayman-Sodhi I would like to work on this issue. I  am interested in adding login and signup pages for the flipkart clone. So Can you please assign me this issue.

[2021-12-03 08:57] #2 closed

[2021-12-03 09:01] D-Palamala-Sai-Niharika opened #3 "Netflix landing page clone"
@Rayman-Sodhi  I am very much interested in creating netflix clone. So i would like to contribute to this repository. Can u please assign me this issue

[2021-12-03 18:07] Rayman-Sodhi opened #4 "Create Readme for the Project"
Requires Description about the Project and guidelines for contribution .Can  later include contributors too.

[2021-12-03 18:08] Rayman-Sodhi commented on #3
Sure , I will look into labels and grading system then assign you the

[2021-12-03 18:09] Rayman-Sodhi commented on #1
Sure , I will look into the labels and grading system and then assign you .

[2021-12-03 18:11] Rayman-Sodhi opened #5 "Add Website Clones"
Add famous websites clone by creating a new issue, we will assign you then you start working on your clones

[2021-12-04 10:36] Sanjanabharadwaj25 opened #6 "'My Profile' page on LinkedIn Clone"

[2021-12-04 10:39] Sanjanabharadwaj25 commented on #6
The clone can be enhanced by including my profile section that contains the data of the user.
Selected data can also be viewed by other users.

[2021-12-04 10:40] Sanjanabharadwaj25 commented on #6
I would like to work on this issue.

[2021-12-05 15:40] arpita221b opened #7 "Fixing navigation bar of the KFC clone."
![Screenshot (1148)](https://user-images.githubusercontent.com/56889637/144753013-72bb1cf8-3093-4dc2-8669-ba902934118c.png)
For now, this is what the navigation bar of the actual website looks like and I would like to implement the same in the clone.
Please review my issue.

[2021-12-05 18:10] Rayman-Sodhi commented on #7
Hi, I will assign you this one as soon as I add the labels.

[2021-12-06 00:22] ayush-sleeping commented on #4
hey, @Rayman-Sodhi
I want to work on this issue , I want to make Impressive Readme for this awesome Repo. .
For further process, `  " Assign "  ` me this issue .

[2021-12-06 12:36] Rayman-Sodhi commented on #6
Hi, I will assign you this one as soon as I add the labels.

[2021-12-06 12:38] Rayman-Sodhi commented on #4
Hi, you can start creating the template . I will assign you this one as soon as I add the label for SWOC

[2021-12-06 12:39] Rayman-Sodhi commented on #4
You can take reference from other projects  too and create a template with necessary instructions.

[2021-12-06 16:07] ayush-sleeping commented on #4
ok,

[2021-12-06 16:29] ayush-sleeping commented on #5
Hey @Rayman-Sodhi ,
In coming days I want to add a  "  NETFLIX  "  website clone .
What do you think about this , Let me know ..................

[2021-12-07 03:52] anugoyal998 commented on #5
Hey @Rayman-Sodhi
I would like to add a " Disney+ Hotstart " clone both backend and frontend.

[2021-12-07 14:43] Rayman-Sodhi commented on #5
@anugoyal998  you can start working on it ,but I will add the labels and then assign you . Most probably by 11 the scoring system will work

[2021-12-07 14:48] anugoyal998 commented on #5
Ok

[2021-12-07 18:25] sanjana317 opened #8 "Fixing the navigation bar of linkedIn clone"
the navigation bar can be enhanced by adding more features  like  network and jobs

[2021-12-07 18:27] sanjana317 commented on #8
I would like to work on this issue

[2021-12-08 04:55] SushantPatial commented on #3
I can help too if you wish. I made a netflix clone before https://sushantpatial.github.io/Netflix-Clone/

[2021-12-08 04:59] SushantPatial opened #9 "New footer for the page"
I would like to replicate the footer for the KFC website.

![image](https://user-images.githubusercontent.com/84243683/145150771-d8bcbee7-02db-4ceb-a54f-01d89158b1f1.png)

[2021-12-08 12:54] ayush-sleeping commented on #4
hey @Rayman-Sodhi , my readme work is completed .
Can you tell me , When I can push PR.

[2021-12-08 18:07] Rayman-Sodhi commented on #9
Great, you can start working on it . The scoring system will work from 11 most probably.Then I will assign u

[2021-12-11 18:35] Rayman-Sodhi commented on #4
Hi @ayush-sleeping  you can add your role in the excel sheet and start working on this issue

[2021-12-11 18:36] Rayman-Sodhi commented on #9
Hi  @SushantPatial  you can add your role in the excel sheet and start working on this issue

[2021-12-11 18:38] Rayman-Sodhi commented on #6
Hi @Sanjanabharadwaj25  you can work on this issue .It would be great if you try using bootstrap as the clone is made in bootstrap

[2021-12-11 18:40] Rayman-Sodhi commented on #5
@anugoyal998   you can add your role in the excel sheet and start working on this issue

[2021-12-11 18:42] Rayman-Sodhi commented on #1
Hi  @lonlander  you can add your role in the excel sheet and start working on this issue

[2021-12-11 18:42] Rayman-Sodhi commented on #7
Hi @arpita221b  you can add your role in the excel sheet and start working on this issue

[2021-12-11 18:43] Rayman-Sodhi commented on #8
Hi @sanjana317  you can add your role in the excel sheet and start working on this issue

[2021-12-11 18:44] Rayman-Sodhi commented on #3
Hi @D-Palamala-Sai-Niharika  you can add your role in the excel sheet and start working on this issue

[2021-12-12 02:36] Sanjanabharadwaj25 commented on #6
Sure, I will use bootstrap for this.

[2021-12-12 04:27] anugoyal998 commented on #5
which excel sheet?

[2021-12-12 06:25] arpita221b commented on #7
Okay Sure!

[2021-12-12 07:16] ayush-sleeping commented on #4
I have added now, Kindly checkout .

[2021-12-12 07:17] ayush-sleeping commented on #4
@Rayman-Sodhi , Kindly tell me ,
When can I start making PR .

[2021-12-12 07:39] VikasYadav-1 opened #10 "Zomato website clone"
Hey @Rayman-Sodhi , I am interested in creating Zomato clone , can you assign me this issue?

[2021-12-12 08:21] Rayman-Sodhi commented on #10
you can comment under new website clones issue

[2021-12-12 08:21] #10 closed

[2021-12-12 08:22] Rayman-Sodhi commented on #5
check in discord

[2021-12-12 08:23] Rayman-Sodhi commented on #4
can you send me ss of the readme ,I can have a look

[2021-12-12 08:30] VikasYadav-1 commented on #5
@Rayman-Sodhi i am interested in creating Zomato website clone

[2021-12-12 08:47] Rayman-Sodhi commented on #5
@VikasYadav-1  Make sure to add project id with your name  in excel sheet

[2021-12-12 10:41] sanjana317 commented on #8
Yes I will Thank you.

[2021-12-15 13:46] ayush-sleeping commented on #4
https://github.com/ayush-sleeping/Clone-IT
Checkout here and if you want me to add some other things , Let me know ..........

[2021-12-15 14:46] Rayman-Sodhi commented on #4
This  Looks good .Can you increase the size of few headlines:
**This the place, Where you can find Clone of some of the best Websites.**
**Table of Contents :**
**Available Clones:**
**Thanks to all the people who contribute**
**Never made an open source contribution before? Wondering how contributions work in the in our project? Here's a quick rundown!**

![wed](https://user-images.githubusercont

[2021-12-17 09:10] sanjana317 opened #11 "Adding a testimonial slider section in KFC clone website"
The website can be enhanced by adding a testimonial slider section for offers and more.

[2021-12-17 11:41] Rayman-Sodhi commented on #11
Please complete your previous issue first

[2021-12-18 07:17] ayush-sleeping commented on #4
Hey @Rayman-Sodhi , checkout  this https://github.com/ayush-sleeping/Clone-IT
Updated all the things, Which you recommended .

[2021-12-18 10:06] Rayman-Sodhi commented on #4
great you can make a pr

[2021-12-18 11:21] harshita214 commented on #5
Hey I am interested in making a clone of Linktree

[2021-12-18 17:54] Rayman-Sodhi commented on #5
@harshita214  Make sure to add project id with your name in excel sheet and start working

[2021-12-19 13:54] Rayman-Sodhi commented on #4
@ayush-sleeping  you have not taken the role as participant for Cloneit in excel sheet .

[2021-12-19 16:17] Rayman-Sodhi opened #15 "Add relevant images from the KFC website in KFC Clone"

[2021-12-19 16:22] Rayman-Sodhi opened #16 "Enhance the LInkedIn Clone and change the idea from ConnectedIn to LinkedIn"

[2021-12-20 05:30] aniket7515 commented on #15
I want to work on this issue can you assign me

[2021-12-20 07:08] D-Palamala-Sai-Niharika commented on #3
@Rayman-Sodhi  My comment in excel sheet has been resolved today .I will add my role and start working thank you

[2021-12-20 08:46] Rayman-Sodhi opened #18 "Enhance the CLONE-IT Website"

[2021-12-20 13:12] #7 closed

[2021-12-20 18:42] Anup0099 commented on #16
I would like to work on this issue

[2021-12-21 08:06] tusharjain365 commented on #18
@Rayman-Sodhi I would like to work on this issue.

[2021-12-21 10:03] Rayman-Sodhi commented on #18
hi @tusharjain365  plz send me a draft of what you are planning to create  and how will you add all clones in the website with same URL as this issue requires much work.And should be completed  within time

[2021-12-21 14:41] tusharjain365 commented on #18
hi, Sure, I will send it asap.

[2021-12-22 08:29] #9 closed

[2021-12-24 16:18] harshit995 commented on #5
@anugoyal998 i want to make hulu clone project... pls assign me

[2021-12-25 18:06] #4 closed

[2021-12-27 11:06] anugoyal998 commented on #5
Sorry, I'm not the project admin

[2021-12-27 11:26] riyakushwaha opened #24 "Add a homepage"
Add a homepage for this project which will have links to all the clones.

[2021-12-27 11:27] #24 closed

[2021-12-31 08:50] SarandeepSingh17 opened #26 "Adding Preloader to KFC Website Clone"
![image](https://user-images.githubusercontent.com/70137752/147813332-7ae67157-b581-4ad2-8d0e-b3278cfcb359.png)

[2021-12-31 12:08] Sulagna-Dutta-Roy opened #27 "Add Google Clone"
Assign me this Issue.

[2022-01-06 08:03] #26 closed

[2022-01-06 09:01] SarandeepSingh17 opened #33 "ADDING NEW SECTION IN KFC CLONE"
Creating Offers & Section in KFC Clone
![image](https://user-images.githubusercontent.com/70137752/148357236-ebf5b947-e23b-4f0c-a508-fd59a0a59cb2.png)

[2022-01-07 18:31] #3 closed

[2022-01-07 18:31] #15 closed

[2022-01-07 19:05] Rayman-Sodhi commented on #27
Are you working on this issue?

[2022-01-07 19:13] Sulagna-Dutta-Roy commented on #27
Yes. Please check my PR

[2022-01-08 08:23] Rayman-Sodhi commented on #27
you have not made a pr .You can pull the recent changes and then make a pull request..Dont make the PR without updating

[2022-01-08 08:45] #33 closed

[2022-01-08 12:33] #6 closed

[2022-01-08 12:33] #8 closed

[2022-01-08 13:45] Rayman-Sodhi commented on #11
offers has been added

[2022-01-08 13:46] Rayman-Sodhi commented on #11
can add other sections

[2022-01-08 18:06] sanjana317 commented on #11
okay thank you

[2022-01-10 09:02] sanjana317 commented on #11
the offers are not aligned properly. Can I work on that by aligning them and adding a slider?

[2022-01-10 10:27] Rayman-Sodhi commented on #11
sure

[2022-01-10 15:17] sanjana317 commented on #11
thank you

[2022-01-11 17:12] Sanjanabharadwaj25 opened #37 "Fix the navbar in 'my profile' section of LinkedIn Clone"
I would like to work on this.

[2022-01-12 13:07] Rayman-Sodhi commented on #37
what is the issue please send a ss

[2022-01-12 13:22] Sanjanabharadwaj25 commented on #37
This is the home page
![image](https://user-images.githubusercontent.com/77878089/149148096-5055ce9f-6a80-4b4f-a2ba-c2673c8deb01.png)
This is the navbar in my profile page
![image](https://user-images.githubusercontent.com/77878089/149148212-3d15e1e8-c2a9-46fa-8fbb-9b54f46c9c45.png)

[2022-01-19 04:23] #37 closed

[2022-01-19 17:57] Tanujkanti4441 commented on #18
hey can i work on this

[2022-01-19 18:04] Rayman-Sodhi commented on #18
sure

[2022-01-21 18:38] Rayman-Sodhi opened #43 "correct offer section and categories section in kfc clone"

[2022-01-23 08:00] #11 closed

[2022-01-23 08:03] sanjana317 opened #44 "Creating navbar in zoom clone"
There's nothing on the zoom website yet. Can I work on this?

[2022-01-23 08:19] jalauk commented on #43
I would like to work on this issue

[2022-01-23 11:53] Rayman-Sodhi commented on #44
Okay

[2022-01-23 17:03] Rayman-Sodhi commented on #43
<img width="960" alt="1" src="https://user-images.githubusercontent.com/65675692/150689449-5b723620-3206-48c3-b50e-1827291ed321.PNG">
<img width="959" alt="2" src="https://user-images.githubusercontent.com/65675692/150689455-74575774-992e-4d0f-96a8-f870134ead74.PNG">
<img width="943" alt="3" src="https://user-images.githubusercontent.com/65675692/150689459-91cf853d-a872-4f2d-8585-bd4a8cc53d5a.PNG"

[2022-01-23 17:03] Rayman-Sodhi commented on #43
try to create same like main website...Offers should have a sliding carousel

[2022-01-25 07:40] Rayman-Sodhi opened #45 "Add linktree clone in website maintain the 4 projects in one row"

[2022-01-25 07:41] Rayman-Sodhi opened #46 "Add AMAZON clone"

[2022-01-25 07:44] Rayman-Sodhi opened #47 "make the form in main website functional"

[2022-01-25 07:45] Rayman-Sodhi commented on #5
u haven't added it yet.

[2022-01-25 07:46] Rayman-Sodhi opened #48 "Add hotstar clone"

[2022-01-25 07:47] harshita214 commented on #45
Can you explain this issue more

[2022-01-25 07:56] Rayman-Sodhi commented on #45
if u check the webiste there are 4 projects in first column ,same way second column should have 4 projects too,currently it has 3 projects

[2022-01-25 07:57] Rayman-Sodhi commented on #45
and please make a new pr  for linktree clone code after git pull

[2022-01-27 14:03] Sanjanabharadwaj25 commented on #47
I would like to work on this.

[2022-01-29 15:11] tusharjain365 commented on #45
hi, I would like to resolve this issue.

[2022-01-30 09:47] Rayman-Sodhi commented on #45
@tusharjain365 sure go ahead .also if u can please change the title of linktee by making changes in index

[2022-01-30 10:21] tusharjain365 commented on #45
Sure, I will.

[2022-02-08 09:41] #45 closed

[2022-02-08 09:43] #43 closed

[2022-02-26 13:55] Ajoe12 commented on #5
I am GSSOC-22 contributor I am interested to a contribute google keep clone, please assign me

[2022-02-26 16:38] Rayman-Sodhi commented on #5
hey u can start once contribution peroid starts.  Also which clone you want to add

[2022-02-27 10:55] thisisharsh7 commented on #46
Hi ma'am,
 I am a GSSoC'2022 participant and I want to work on this issue.
but Will you please describe it  little more ?

[2022-02-27 17:08] 1ananya3 commented on #48
I want to work on this.Can you please assign it to me? I am a participant of GSSOC'22.

[2022-02-28 09:57] Vikash-8090-Yadav opened #54 "Incorrect spacing in readme file"
Hey , Greeting's of the day ..
Ur readme file look's good but there is so many  extra space used , which make's it grammatically incorrect ..

Please assign this issue to me so i can change this and make grammatically correct ...
under **GSSOC'22
**
Thank's.. :crossed_fingers:

[2022-02-28 10:28] anveshajain19 opened #55 "Add YouTube Clone"
I want to work on this. Can you please assign it to me? I am a participant of GSSOC'22.
Thank you.

[2022-02-28 11:13] anveshajain19 opened #56 "Add Instagram Clone"
@Rayman-Sodhi
I want to work on this. This will help me to enhance my skills. Can you please assign it to me? I am a participant of GSSOC'22.
Thank you.

[2022-02-28 12:10] #27 closed

[2022-02-28 15:17] abhi1e9-1e10 opened #57 "Add WhatsApp Clone"

[2022-02-28 16:14] Kushal-2002 commented on #48
I am a GSSOC'22 participant, I want to work on this issue. I have already made a Netflix clone so working on this project is going to be interesting.

[2022-02-28 16:29] biswajit150803 commented on #56
I want to work on this issue under GSSoC 22.I have already made clones of various apps and so I could contribute well enough

[2022-02-28 16:30] biswajit150803 commented on #57
I have already made clones of various apps and so I could contribute well enough

[2022-02-28 16:32] biswajit150803 commented on #55
I want to work on this issue under GSSoC 22.I have made clones of various apps previously so I would contribute well enough.

[2022-02-28 17:00] Girlwithasmile opened #58 "Confirmed password not hidden"
In the signup page in netflix clone, When I type the password it is replaced by dots as usual but when I confirm it it is not. I would like to work on this issue. I am a contributer at gssoc'22.
![Screenshot 2022-02-28 222841_LI](https://user-images.githubusercontent.com/98261167/156027139-82bc7987-072b-4e1c-863f-774ae982a486.jpg)

[2022-02-28 17:05] Girlwithasmile opened #59 "Add Starbucks clone"
I am a contributer at gssoc'22 and would like to make a ui clone of everyone's favourite Starbucks. I would be glad if u assign this issue to me.I would love to work on this. @Rayman-Sodhi
I've previously made a netflix clone too
![I've cloned netflix](https://user-images.githubusercontent.com/98261167/156113126-5935d736-f013-451f-8526-c1ec2486a9b4.png)

[2022-02-28 17:19] Prajwal-ctrl commented on #57
hey @abhi1e9-1e10  I am a gssoc'22 participant can work on it . i made twitter clone already

[2022-02-28 17:20] Prajwal-ctrl commented on #56
hey @abhi1e9-1e10  I am a gssoc'22 participant can work on it . I made twitter clone already

[2022-02-28 17:48] MonarchGitHub commented on #46
I'd like to work on the Amazon clone, I plan to build it using **HTML, CSS ( I'd like to use Tailwind if you allow), and React JS**.
My projected timeline is till **5th March**, I am confident that I can complete the Amazon clone by then.

[2022-02-28 18:02] gurjeetsinghvirdee opened #60 "Add Google Search Engine Clone"
I'm a GSSo'C 22 contributor, I love this cloning project & I want to add Google Search Engine Clone with React Js using google API, Please assign me this issue, So I will work on it

![Screenshot (672)](https://user-images.githubusercontent.com/73753957/156113141-3caa0dd8-6472-4221-b917-eff7f884db7d.png)

[2022-02-28 18:20] sagnik2001 commented on #60
Can I work on this under GSSoC 22

[2022-02-28 18:20] sagnik2001 commented on #59
Can I work on this under GSSoC 22

[2022-02-28 18:22] sagnik2001 opened #61 "Add Ola Clone"
I am a GSsoc 2022 contributor and I want to make a ola clone

[2022-02-28 18:22] sulogna2001 opened #62 "Add slack clone"
Hey I am Gssoc22 contributor can I add this clone

[2022-02-28 18:24] sagnik2001 opened #63 "Add Tinder Clone"
I am a GSsoc 2022 contributor and will like to clone Tinder

[2022-02-28 18:41] Anish1411 commented on #63
hey , i want to work on this , plz assign it to me

[2022-02-28 18:42] thisisharsh7 commented on #60
I too want to work on this issue @Rayman-Sodhi will you please assign it to me

[2022-02-28 18:43] Anish1411 commented on #56
hey , i want to work on this issue , plz assign it to me

[2022-02-28 18:53] neetra commented on #63
hey I would like to work on this project

[2022-03-01 00:27] XZANATOL opened #64 "Improving Website Animations"
## Issue

The website has a stylish theme but with rigid animations as shown in this GIF:

![Peek 2022-03-01 02-21](https://user-images.githubusercontent.com/64689436/156081104-646dceb6-2dea-42fe-b6f2-fdcb6ed29370.gif)

The animation is rigid **on leaving hover** state.

## Idea

I can improve the user experience and smooth the animation to look something like this:

![Peek 2022-03-01 02-25](https

[2022-03-01 03:05] Girlwithasmile commented on #59
Actually I opened this cause I wanna work for this.

[2022-03-01 05:57] Girlwithasmile commented on #48
Hello, if this issue is still open and not assigned to anyone, I would like to work on it. I am a contributer at gssoc'22 and have good frontend skills. I've previously worked on making netflix clone, linkedIn clone or other sites. Attaching a pic for reference.
![I've cloned netflix](https://user-images.githubusercontent.com/98261167/156113383-23740f97-87dc-424d-af25-41e1ddc02a51.png)

[2022-03-01 07:27] #1 closed

[2022-03-01 07:27] #44 closed

[2022-03-01 08:31] lokita282 commented on #57
Hi I am a gssoc '22 participant and would like to work on this issue. I am already working on making a real time chat appliation so...

[2022-03-01 08:42] #57 closed

[2022-03-01 10:18] kheya19 opened #65 "Improve the project section UI"
I can make it look clean for a better feel and user experience. Assign  me this task as I m a GSSOC'22 contributor

[2022-03-01 10:53] harshjohar commented on #62
Hello i want to work on this under GSSOC'22

[2022-03-01 11:15] bosedipayan commented on #5
Hey @Rayman-Sodhi , I'm a participant of GSsOC '22. I am interested in making a clone of inshorts(news) app.

[2022-03-01 11:32] rajprem4214 opened #66 "Adding Parallax Website Template using Html CSS & Scroll Trigger | GSSoC'22"
I will add a parallex site template using Html Css and JS. Please assign this to me.

[2022-03-01 12:31] bosedipayan opened #67 "Add Inshorts Clone"
Project title
A full clone website of inshorts news app.

Project Description
Hi @Rayman-Sodhi , I would love to create a full clone website of inshorts news app.
Thank You

Stack:
React Js
Material UI
Newsapi

[2022-03-01 12:33] bosedipayan commented on #67
As a GSsOC participant, I would love to work on it.

[2022-03-01 12:53] MonarchGitHub opened #68 "Creating issue Forms for the repo"
I want to add a few issue Forms so that it will be convenient for new contributors to open issues. I plan to create  **Bug Report** and **Feature Request** Forms. You can read more about issue forms [here](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms)

**_The Bug Report issue form will have the following fields_**

- **D

[2022-03-01 13:30] sakshi0210 commented on #5
Hello @Rayman-Sodhi
Can I make google classroom's website clone?
can you please assign me for this task?

[2022-03-01 13:58] Anish1411 commented on #16
Hey , I am a GSSoC '22 participant. Please assign me this issue.

[2022-03-01 14:56] Vaib215 opened #69 "Add Facebook Clone"
I can add facebook clone made using html and tailwind css. I am participant of GS-SOC 2022. Please allow me.

[2022-03-01 14:59] Rajdip019 opened #70 "Add Discord Clone"
Here is a link:  https://discord-clone-rajdeep019.vercel.app/dashboard

[2022-03-02 03:58] Mrjoy832 opened #71 "Airbnb Clone"
Hi, I am TRIDIB BAG. I'm a GSSoC22 participant.
I want to add landing page clone of Airbnb with proper documentation as there is nothing regarding this . I'm really want to contribute in this topic .

Can @Rayman-Sodhi ,  please assign it to me?

[2022-03-02 12:55] Pranai2518 opened #72 "Add Apple Clone"
I would like to create and design the apple India website frontend clone.

[2022-03-02 13:00] iamtanya-22 opened #73 "Making the navbar responsive and improve UI of footer"

[2022-03-02 14:31] Rayman-Sodhi commented on #46
Hi @MonarchGitHub  you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .

[2022-03-02 14:31] Rayman-Sodhi commented on #46
hey you can work on other beginner friendly issues or create some of your own

[2022-03-02 14:35] Rayman-Sodhi commented on #48
you can add these changes in already existing netflix clone .Only if ur clone has more features

[2022-03-02 14:36] Rayman-Sodhi commented on #55
Hi @biswajit150803  you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days

[2022-03-02 14:38] Rayman-Sodhi commented on #56
Hi  @anveshajain19  you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days
after that it will be assigned to @biswajit150803

[2022-03-02 14:39] Rayman-Sodhi commented on #5
Hi  @Ajoe12  and @sakshi0210  you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days

[2022-03-02 14:41] anveshajain19 commented on #56
Thank you @Rayman-Sodhi for assigning it to me..

[2022-03-02 14:44] Rayman-Sodhi commented on #61
Hi @sagnik2001     you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days

[2022-03-02 14:44] Rayman-Sodhi commented on #60
Hi  @gurjeetsinghvirdee     you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days

[2022-03-02 14:45] Rayman-Sodhi commented on #62
Hi @sulogna2001    you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days

[2022-03-02 14:45] Rayman-Sodhi commented on #63
Hi @sagnik2001     you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days
after that it will be assigned to @Anish1411

[2022-03-02 14:46] Rayman-Sodhi commented on #67
Hi @bosedipayan    you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .

Deadline -  5-6 days

[2022-03-02 14:46] Rayman-Sodhi commented on #69
Hi @Vaib215    you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days

[2022-03-02 14:47] Rayman-Sodhi commented on #70
Hi @Rajdip019      you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days

[2022-03-02 14:47] gurjeetsinghvirdee commented on #60
Ok sure I will complete in 2-3 days 🧡

[2022-03-02 14:47] Rayman-Sodhi commented on #72
Hi @Pranai2518     you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days

[2022-03-02 14:48] Rayman-Sodhi commented on #71
Hi @Mrjoy832     you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline -  5-6 days
after that it will be assigned to @Anish1411

[2022-03-02 14:49] Rayman-Sodhi commented on #64
Hi @XZANATOL    you can work on this issue .You can try to make the changes soon as new clones will be added from time to time.

[2022-03-02 14:51] #18 closed

[2022-03-02 15:32] Mrjoy832 commented on #71
Ok I will start as soon as possible

[2022-03-02 21:10] Rhydham2809 opened #74 "Adding QUORA clone"
I can beautifully add an Quora clone with my skills in HTML and CSS.
I am Gssoc 2022 participate.
Kindly assign this issue to me.

[2022-03-03 02:54] AnweshaRoses commented on #73
hello, I would like to work on this. Can you please assign this to me.

[2022-03-03 03:02] AnweshaRoses opened #75 "Netflix Clone"
Heyy I would like to work on this issue can you please assign this to me

[2022-03-03 04:30] Anushruth-Reddy commented on #16
Hello! I'm a GSSoC'22 participant, kindly assign me this issue

[2022-03-03 05:59] iamtanya-22 commented on #73
Hey , I want to work on this issue .
Please assign this issue to me under GSSOC'22

[2022-03-03 06:08] 19arnab190201 opened #76 "Addition of a Microsoft clone to the list"
I would like to be assigned for adding a Microsoft clone to the list

[2022-03-03 07:07] Rayman-Sodhi commented on #74
Hi @Rhydham2809   you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline - 5-6 days

[2022-03-03 07:07] Rayman-Sodhi commented on #76
Hi @19arnab190201  you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .
Deadline - 5-6 days

[2022-03-03 07:08] Rayman-Sodhi commented on #75
Hi @AnweshaRoses  there is already a netflix clone ..if your clone has more features then kindly mention them after cross checking from website

[2022-03-03 07:11] Rayman-Sodhi commented on #16
already assigned

[2022-03-03 10:37] pranjalkatiyar opened #78 "Coinbase Blockchain web clone"
I would like to be assigned for adding a coinbase blockchain web clone.

[2022-03-03 11:29] Vaib215 commented on #69
I have created the clone. Kindly merge the PR.

[2022-03-03 12:29] #69 closed

[2022-03-03 12:30] Rayman-Sodhi commented on #65
hi I will assign this after issue #64 is closed

[2022-03-03 12:30] Rayman-Sodhi commented on #73
hi I will assign this after issue #64 and #65  is closed

[2022-03-03 13:00] XZANATOL commented on #64
@Rayman-Sodhi The changes are ready.

[2022-03-03 13:12] AnweshaRoses commented on #73
sure thank you @Rayman-Sodhi

[2022-03-03 13:15] XZANATOL opened #81 "Adding GitHub Homepage Clone"
## Idea

Add a Github homepage clone

## Motivation

The project demonstrates the capabilities of flex property in CSS, in addition to a good explanation about how GitHub's frontend is built

[2022-03-03 13:19] pranjalkatiyar commented on #78
Yes in this the wallet will also be connected

[2022-03-03 14:04] Aritra777 opened #82 "Add a Instagram Clone"
I want to add an instagram clone to this website clone list. The clone site will look like this -
I am using HTML, CSS, JS, ReactJS to build this.
![Screenshot (33)](https://user-images.githubusercontent.com/93366359/156580029-04d0bdc0-761d-489a-92e1-090fc8f762cc.png)
Can you assign me under GSSOC'22.

[2022-03-03 14:47] Rhydham2809 commented on #74
Thank you for assigning me this issue, I will do my best.

[2022-03-03 16:37] Debdeep1 opened #84 "Add CODM S13 UI clone using HTML CSS only."

[2022-03-03 16:39] Debdeep1 commented on #84
I want to work on this issue under GSSoC'22

[2022-03-03 19:20] #64 closed

[2022-03-03 19:21] kheya19 commented on #65
Ok thank you 😊

[2022-03-04 09:57] #76 closed

[2022-03-04 09:59] Rayman-Sodhi commented on #82
Already assigned #56

[2022-03-04 10:00] Rayman-Sodhi commented on #65
Hi @XZANATOL you can work on this issue  and also add Facebook clone to the project section ,the link can be found in project readme.
Deadline - 5-6 days

[2022-03-04 10:02] Rayman-Sodhi commented on #73
Hi @iamtanya-22  you can work on this  issue
Deadline 5-6 days
After that it will be assigned to @AnweshaRoses

[2022-03-04 10:02] Rayman-Sodhi commented on #84
CODM S13 is this a website?

[2022-03-04 10:03] iamtanya-22 commented on #73
Okay. I will finish this before deadline.

[2022-03-04 10:16] Rayman-Sodhi opened #87 "Add Description about GSSOC in main website About Us section ."

[2022-03-04 10:18] ronitrangwani commented on #87
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 11:38] #82 closed

[2022-03-04 12:00] #66 closed

[2022-03-04 14:39] #60 closed

[2022-03-04 14:42] Rayman-Sodhi commented on #68
Great ! but before making a pr please show me the ss or demo if its working properly .
You can take 5-6 days

[2022-03-04 14:43] Rayman-Sodhi commented on #78
you can create this one .

[2022-03-04 14:43] Rayman-Sodhi commented on #78
you can work on this issue ur project should have a working link and you should add that in the main website too once done with creating it .

[2022-03-04 14:44] Rayman-Sodhi commented on #87
you can work on this issue .send a ss before making a pr .It can be  like description of SWOC or you can reduce some points from both and make it more readble

[2022-03-04 14:48] Rayman-Sodhi opened #89 "Add Facebook and Google Keep Clone to main webste .Link can be found in Readme"
Maintain website by adding new clones once pr's are merged ...

[2022-03-04 16:45] kheya19 commented on #65
Ok thank you

[2022-03-04 19:25] Sulagna-Dutta-Roy opened #91 "Add Google Clone"
This website will made using html, css, js. Please assign me this Issue.

[2022-03-04 19:45] gurjeetsinghvirdee opened #92 "Want to add card"
Add Card for Google Search Engine Clone, I forgot to change the `index` HTML and CSS file

[2022-03-04 19:46] #92 closed

[2022-03-04 19:49] gurjeetsinghvirdee commented on #89
Hey, @Rayman-Sodhi Assign me, I will add merged changes into `index` files with the asset so they will preview on the website.

[2022-03-04 22:12] XZANATOL commented on #81
@Rayman-Sodhi can you please calrify what you mean by a working link? I will add the index.html file, or you mean that you want it deployed on Github Pages?

[2022-03-05 06:01] Anish1411 commented on #16
hey @Rayman-Sodhi , what changes i have to make in likedin clone.

[2022-03-05 06:25] Adbnemesis opened #94 "Add GitHub Clone"
Since no one is working on adding the github clone, I can do the honors.
I'll first make the home page using html,css and js then adding authentication will come later

[2022-03-05 07:10] zugzwang03 opened #95 "Add Search button for the Projects section"
I would like to add a search feature below the project header, where when the user will search a particular project and click on it, that particular project website will be redirected to the user. I would like to work on this issue under GSSOC'22, but I require 4 days time for it.

[2022-03-05 11:41] MonarchGitHub commented on #68
Yes sure, I will attach preview links.

[2022-03-05 15:48] MonarchGitHub commented on #68
Hello @Rayman-Sodhi , I have added **bug report** and **feature request** issue forms to the repo.
I have also attached the previews of the issue forms below. Kindly review the changes and inform if I should create a PR.

**_Previews_**

- [Bug Report](https://github.com/MonarchGitHub/Clone-IT/blob/issueform/.github/ISSUE_TEMPLATE/Bug_report.yaml)

- [Feature Request](https://github.com/MonarchGit

[2022-03-05 16:19] artimanputra commented on #48
I would like to work on this issue. Can you assign it to me if someone is not working on it already?

[2022-03-05 17:24] whiteHatpro commented on #91
@Sulagna-Dutta-Roy can u explain your site a little bit more
what u want to achieve?

[2022-03-05 17:50] Sulagna-Dutta-Roy commented on #91
My google clone website will be look like actual website: https://www.google.com
Do check here.

[2022-03-05 20:47] aditi-singh-442 opened #97 "Add scroll to top button to main website"
## Fixes
- Add Scroll to top button on the main website
- Enable smooth scrolling of page when the button is pressed

### Comments
I am a GSSoC '22 participant.
Please assign this issue to me so that I can work on it.

[2022-03-05 23:37] XZANATOL opened #99 "Adding Carousel Landing Page"
## Idea

Add a responsive landing page template based on customized bootstrap 5 carousel that is suitable for volunteering communities to showcase their activity along with their timeline of upcoming events.

## Tech stack

- [x] HTML
- [x] CSS
- [x] JS
- [x] Bootsrap 5

## Screenshot

![image](https://user-images.githubusercontent.com/64689436/156903213-f9fc50ea-9310-4d90-9844-b6f650694e6d.png)

[2022-03-06 07:17] Rayman-Sodhi commented on #94
it is already open #81 .If youn find some more featues to add then u can add it after I close #81

[2022-03-06 07:20] Adbnemesis commented on #94
Since it wants to add only the home page, I can add the authentication to it? Will it work?

[2022-03-06 13:12] Kumar-laxmi opened #101 "Creating a Help and FAQ page"
It seems the Help & FAQ page is missing.

The link is given in footer.

So I can create one and link it to it.

[2022-03-06 17:40] mayank-del commented on #91
can I also work in it under GSSOC '22?

[2022-03-06 17:43] mayank-del opened #102 "Add Disney Plus Clone"
I want to add Disney front-end clone

[2022-03-06 17:49] Sulagna-Dutta-Roy commented on #91
This is my reference of my project.

[2022-03-06 18:08] mayank-del commented on #91
Can i also work in this project under GSSoC 22?

[2022-03-06 18:37] Rayman-Sodhi commented on #89
send a ss before pr

[2022-03-06 18:44] gurjeetsinghvirdee commented on #89
Sure

On Mon, 7 Mar, 2022, 00:07 Rayman-Sodhi, ***@***.***> wrote:

[2022-03-07 07:36] Rayman-Sodhi commented on #101
sure you can work on this . Please  send a  ss before making a pr

[2022-03-07 07:37] Rayman-Sodhi commented on #99
sure you can work on this but please send  a ss before maki9ng a pr

[2022-03-07 07:40] gurjeetsinghvirdee commented on #89
Hey @Rayman-Sodhi I added these four clones `Google`, `Slack`, `Youtube` & `Facebook`
Google Keep clone was not merged yet because of some conflicts so I didn't add that project to the website & I changed the size of cards `13rem to 15.5rem` because the description was not fit inside in small cards now it's bigger and looks great.

![Screenshot (706)](https://user-images.githubusercontent.com/7375

[2022-03-07 07:56] XZANATOL commented on #99
@Rayman-Sodhi sorry, you mean sending a a screenshot? inside the PR, Or where should I send it?

[2022-03-07 08:01] Kumar-laxmi commented on #101
I think you should assign Level-3 since this would take time

[2022-03-07 13:17] Rayman-Sodhi commented on #102
is it similar to #48?

[2022-03-07 13:18] Rayman-Sodhi commented on #101
could you explain the complexity of issue.Because all other issues are still level 1 . What are the things you will be doing?

[2022-03-07 13:22] Kumar-laxmi commented on #101
No cuz what I have seen till now creating a new page comes under Level-3

[2022-03-07 13:23] Kumar-laxmi commented on #101
Ok no problem I have no issue with Level-1

[2022-03-07 14:33] Yasshu55 opened #104 "Clicking the image to open link in new tab"
When a user clicks any of the following social media icons the page opens in the current tab
![pics](https://user-images.githubusercontent.com/95294297/157053601-977cc58a-2bb1-4115-9849-faea8b0f1281.PNG)
I would like to change the code to redirect the page to a new tab, Hope to fix this issue please assign it to me

[2022-03-07 14:48] RAHULBAWA777 opened #105 "Startbucks hompage"
startbucks homepages with beautiful styling to be made

[2022-03-07 15:49] Mrjoy832 opened #106 "Gmail Clone"
Hi, I am **TRIDIB BAG.**  I'm a GSSoC22 participant.
I want to  add a clone of the user Interface of **Gmail** using  HTML, CSS, JS. I am really willing to contribute into it.

Can you please assign it to me?

[2022-03-08 11:11] #72 closed

[2022-03-08 15:05] ayush-sleeping opened #109 "Tesla Landing page"
I will make Try my best to make clone of Tesla landing page with the use Html, Css and js , this will help me to increase the skills of my frontend skills.

#

Hey @Rayman-Sodhi ,
I want to work on this issue under @GSSOC'22 ,

[2022-03-08 20:33] whiteHatpro commented on #109
@ayush-sleeping all the best!!
happy contributing🚀

[2022-03-08 20:48] Ash-KODES opened #111 "Adding License"

[2022-03-09 04:43] Pranai2518 opened #113 "Custom scroll bar"
The present scroll bar looks like a basic one.

![1](https://user-images.githubusercontent.com/75829770/157373316-e5e1fc74-f7ab-449d-b9ec-59a2d1e5f2d2.png)

I want to make it a bit look like the below.

![3](https://user-images.githubusercontent.com/75829770/157373780-de66f51f-28ef-449d-8390-3fe9ebefe455.png)

[2022-03-09 06:13] Girlwithasmile opened #114 "Updating and correcting Readme"
Hello, this is a contributer at gssoc'22. In the readme section certain clones are not in table format. So I would like to update that.
![Screenshot 2022-03-09 113639](https://user-images.githubusercontent.com/98261167/157384137-4c99102f-a194-483e-8a29-cc814b9c9fab.png)

[2022-03-09 06:20] Girlwithasmile opened #115 "Adding missing hover effects in microsoft clone"
Hello I am a gssoc'22 contributer and I would like to work on this issue. Some hover effects are missing in microsoft clone. Eg-in navbar, buttons, etc.

[2022-03-09 07:35] XZANATOL commented on #99
@gurjeetsinghvirdee Ok Done.

https://user-images.githubusercontent.com/64689436/157394047-2263ec4f-a4b4-477b-85cd-59d1ce4f008f.mp4

[2022-03-09 14:06] XZANATOL opened #116 "Add Discord App Page Clone"
## Idea

Add a clone of Discord app homepage (the one where we enter to servers & dms)

## Tech Stack

- [x] HTML
- [x] CSS
- [x] JS
- [x] Bootstrap 5

Issue created under GSSoC'22 contributions

[2022-03-09 17:13] Mrjoy832 commented on #106
@Rayman-Sodhi  please assign it to me.

[2022-03-10 01:19] mayank-del commented on #102
I don't think so

[2022-03-10 10:07] kalashvasaniya opened #117 "Github Clone"
Github Clone

[2022-03-10 10:08] #117 closed

[2022-03-10 10:09] kalashvasaniya opened #118 "UI Enhancement of Flipkart-clone"
UI Enhancement of Flipkart-clone

[2022-03-10 12:14] XZANATOL commented on #99
@gurjeetsinghvirdee shall I make a PR?

[2022-03-10 14:26] gurjeetsinghvirdee commented on #99
bro, I'm not a mentor, I just clear your doubt, what @Rayman-Sodhi want to say in the last comments, so tag her in discord or here

[2022-03-10 14:37] XZANATOL commented on #99
Ah my bad, sorry for the miss-understanding xd
@Rayman-Sodhi shall I continue with the PR request?

[2022-03-10 18:36] #91 closed

[2022-03-10 18:48] ruchika2210 opened #119 "Adding text color functionality in GOOGLE KEEP CLONE"
By clicking the color functionality , color window will pop up and by selecting the color , text color can be changed.

[2022-03-11 06:41] Devmindtk commented on #101
I would like to work on  this issue please assign it to mr

[2022-03-11 18:18] ayush-sleeping commented on #109
Hey maintainer , Because of some urgent Problem, I unable to puch PR .
My project is completed, As soon as I will reach home , I will push PR . ☺️

[2022-03-12 07:07] Ash-KODES opened #122 "Project dont have Pull request template"

[2022-03-12 07:08] Ash-KODES commented on #122
I am working on this.
#GsSOC2022

[2022-03-12 07:15] #122 closed

[2022-03-12 07:23] gurjeetsinghvirdee commented on #55
Hey, I assigned @biswajit150803 because @anveshajain19 didn't complete yet and not replying in PR

[2022-03-12 13:05] gurjeetsinghvirdee commented on #114
You already did these changes in your Starbucks clone, So I'm closing this issue

[2022-03-12 13:05] #114 closed

[2022-03-12 13:06] #111 closed

[2022-03-12 13:08] gurjeetsinghvirdee commented on #74
Hey, @Rhydham2809 Are you still working on this issue?

[2022-03-12 13:09] gurjeetsinghvirdee commented on #119
Before making a PR show your changes here

[2022-03-12 13:20] Rhydham2809 commented on #74
Hello,
Yes I am working on this issue and it is almost ready, shortly I will pull a merge request and sorry for such delay.

[2022-03-12 13:21] gurjeetsinghvirdee commented on #113
There is no difference in both scrollbars in 2nd image it looked like some gradient, if you change more things in the scrollbar to look good then I'll assign you

[2022-03-12 13:22] gurjeetsinghvirdee commented on #118
Describe clearly or show ss what you want to change like before after, if it LGTM will assign you

[2022-03-12 15:47] gurjeetsinghvirdee commented on #84
@Rayman-Sodhi @Debdeep1 I'm closing this issue because of no response & CODM S13 was a call of duty game game not a website

[2022-03-12 15:47] #84 closed

[2022-03-12 15:49] gurjeetsinghvirdee commented on #95
@Rayman-Sodhi @whiteHatpro check it this issue

[2022-03-12 16:11] gurjeetsinghvirdee opened #125 "Add Contributing Guidelines"
Make proper contributor guidelines use images also so it was better to understand for beginners

[2022-03-12 16:16] gurjeetsinghvirdee opened #126 "Add GSSo'C in the About section and write about it"

[2022-03-12 16:21] gurjeetsinghvirdee commented on #115
Hovers are working fine, and the in the navbar that was a hover style looks like box-shadow but it's working fine, So I'm closing this issue

[2022-03-12 16:21] #115 closed

[2022-03-12 16:24] gurjeetsinghvirdee commented on #106
@Mrjoy832 Add Screenshots or Videos so our PA and mentor will check what you add and how it works

[2022-03-12 16:25] gurjeetsinghvirdee commented on #106
@Rayman-Sodhi @whiteHatpro please add Level label

[2022-03-12 16:56] Pranai2518 commented on #125
Can you be more specific on this issue?

[2022-03-12 17:04] gurjeetsinghvirdee commented on #125
better to add an img that how to clone or fork like that

[2022-03-12 17:06] Pranai2518 commented on #125
Okay. I would like to work on this issue. Can you assign me.

[2022-03-12 17:06] gurjeetsinghvirdee commented on #125
sure

[2022-03-12 17:07] gurjeetsinghvirdee commented on #125
Send ss before PR

[2022-03-12 18:40] gurjeetsinghvirdee commented on #105
Already added if you add extra features to it then I will assign you

[2022-03-12 18:57] gurjeetsinghvirdee opened #128 "New issue"
Testing workflows

[2022-03-12 19:01] #128 closed

[2022-03-12 20:47] #126 closed

[2022-03-12 20:49] gurjeetsinghvirdee commented on #67
Hey, @bosedipayan are you still working on this issue? and you crossed your deadline, reply in 24hr either I will close this issue

[2022-03-12 20:51] gurjeetsinghvirdee commented on #63
hey, @sagnik2001 you crossed the deadline date now this issue is assigned to @Anish1411

[2022-03-12 20:51] gurjeetsinghvirdee commented on #63
@Anish1411 you have 6 days to complete

[2022-03-12 20:54] #62 closed

[2022-03-12 20:55] gurjeetsinghvirdee commented on #61
hey @sagnik2001 you crossed your timeline! still, working on this?

[2022-03-12 20:57] gurjeetsinghvirdee commented on #47
Closing this issue no update till now @Rayman-Sodhi @Sanjanabharadwaj25

[2022-03-12 20:57] #47 closed

[2022-03-12 20:58] gurjeetsinghvirdee opened #130 "Make the form functional in site"

[2022-03-12 21:00] sagnik2001 commented on #61
Hey @gurjeetsinghvirdee, sorry I need to unassign myself as I don't have enough time to complete this also the deadline has passed

[2022-03-12 21:01] gurjeetsinghvirdee commented on #65
#120 merged

[2022-03-12 21:01] #65 closed

[2022-03-12 21:02] gurjeetsinghvirdee commented on #61
Then closing this issue

[2022-03-12 21:02] #61 closed

[2022-03-12 21:05] gurjeetsinghvirdee commented on #75
Hey, @AnweshaRoses are you still want to work on this issue with extra features on the Netflix clone? Please reply either I will close this issue

[2022-03-12 21:06] gurjeetsinghvirdee commented on #104
hey @Yasshu55 assigned to you

[2022-03-12 21:07] gurjeetsinghvirdee commented on #104
are you in gssoc?

[2022-03-12 21:26] gurjeetsinghvirdee commented on #58
you can work on this issue @Girlwithasmile & Add a video on your PR so we can see your code works or not

[2022-03-12 21:30] gurjeetsinghvirdee commented on #68
@Rayman-Sodhi please check this

[2022-03-12 21:32] gurjeetsinghvirdee commented on #54
That's not a valuable issue, I'm closing this even your grammar was wrong on that message

[2022-03-12 21:32] #54 closed

[2022-03-12 21:34] whiteHatpro commented on #106
@Mrjoy832 all the best!!
Happy contributing🚀

[2022-03-12 21:35] gurjeetsinghvirdee commented on #48
hey, @1ananya3 sorry but your time was up

[2022-03-12 21:36] gurjeetsinghvirdee commented on #48
@Kushal-2002 assigning you and you have 6 days to complete either this issue goes to @Girlwithasmile

[2022-03-13 01:25] Mrjoy832 commented on #106
Okay

[2022-03-13 02:07] Yasshu55 commented on #104
Yes @gurjeetsinghvirdee thank you

[2022-03-13 02:24] RAHULBAWA777 commented on #105
Ok... I'll let you know 🙂

On Sun, Mar 13, 2022, 12:11 AM Gurjeet Singh Virdee <
***@***.***> wrote:

[2022-03-13 04:39] bosedipayan commented on #67
Hey, @gurjeetsinghvirdee the issue is already completed, I'm getting an error in the deployment link, the only reason I'm not giving PR. Could you please guide me out ?

[2022-03-13 04:46] Anish1411 commented on #63
hey @gurjeetsinghvirdee , can u plz tell me i have to clone only login page or i have to clone the interface that comes after login.
if possible , send me ss , what actually i have to build

[2022-03-13 05:09] gurjeetsinghvirdee commented on #67
Deploy with github or netlify

[2022-03-13 05:40] gurjeetsinghvirdee commented on #63
You have to build login with interface

On Sun, 13 Mar, 2022, 10:17 Anish Kirodiwal, ***@***.***>
wrote:

[2022-03-13 05:51] simplyNour opened #132 "Behance clone"
Hello, I want to clone this site, GSSOC'22
https://www.behance.net/

[2022-03-13 05:53] NourYoussry commented on #132
@gurjeetsinghvirdee can you assign me this issue?

[2022-03-13 05:55] gurjeetsinghvirdee commented on #132
Yeah sure go ahead @NourYoussry

[2022-03-13 05:58] #104 closed

[2022-03-13 06:53] Rayman-Sodhi commented on #68
hi  @monarchGithub You can make a pr after pulling the changes

[2022-03-13 06:59] Rayman-Sodhi commented on #97
you can work on this

[2022-03-13 07:43] gurjeetsinghvirdee commented on #102
What the difference b/w hotstar and disney plus? Can you explain and if your clone have some extra features then why not update existing hotstar

[2022-03-13 07:46] gurjeetsinghvirdee commented on #94
Let's finish him when project was merged in this repo you can work on that. I will assign you when it merged

[2022-03-13 08:30] Anish1411 commented on #63
can u plz send me screen shots

[2022-03-13 09:09] gurjeetsinghvirdee commented on #63
@Anish1411 you commented on this issue that you want to work on, the last person who worked on this issue didn't create any PR so I can't have ss something, so built on your own idea that's your choice you want to make a design or in add some functions, if you can then reply either I have to assign @neetra

[2022-03-13 09:18] AnweshaRoses commented on #75
hey you can close this issue

[2022-03-13 09:30] #75 closed

[2022-03-13 11:01] Anish1411 commented on #63
okk , i'll

[2022-03-13 13:20] #101 closed

[2022-03-13 13:21] gurjeetsinghvirdee commented on #63
then start your work

[2022-03-13 13:53] gurjeetsinghvirdee commented on #87
Hey, @ronitrangwani are you working on this issue? the limit of 6 days already passed

[2022-03-13 13:58] gurjeetsinghvirdee commented on #78
@pranjalkatiyar are you working on this issue?

[2022-03-13 16:59] #125 closed

[2022-03-13 17:38] MonarchGitHub commented on #68
Okay got it 👍

[2022-03-13 20:04] #68 closed

[2022-03-14 04:29] #81 closed

[2022-03-14 04:30] gurjeetsinghvirdee commented on #94
@Adbnemesis are you willing to work with github homepage clone ? Let me know

[2022-03-14 13:13] gurjeetsinghvirdee commented on #105
So are you want to work on this issue @RAHULBAWA777

[2022-03-14 13:23] zugzwang03 commented on #87
I want to work on this issue.

[2022-03-14 13:42] gurjeetsinghvirdee commented on #87
Go ahead✨

[2022-03-14 14:42] bosedipayan commented on #67
Yes, I deployed but still the data is creating issue on chrome. Okay, I'm creating PR soon.

[2022-03-15 04:58] pranjalkatiyar commented on #78
Yes i m

On Sun, Mar 13, 2022, 7:28 PM Gurjeet Singh Virdee ***@***.***>
wrote:

[2022-03-15 04:59] gurjeetsinghvirdee commented on #78
Ok complete soon

[2022-03-15 19:55] gurjeetsinghvirdee commented on #130
@Rayman-Sodhi can you explain him , coz you created the issue, so you know well what to change or add

[2022-03-16 06:35] gurjeetsinghvirdee commented on #116
Closed #137

[2022-03-16 07:17] gurjeetsinghvirdee commented on #73
hey, @iamtanya-22 are you still working on this issue?

[2022-03-16 07:19] gurjeetsinghvirdee commented on #70
@Rajdip019 deadline passed and someone already make a discord clone, So I'm closing this issue

[2022-03-16 07:19] #70 closed

[2022-03-16 07:22] gurjeetsinghvirdee commented on #59
Closes #100

[2022-03-16 07:22] #59 closed

[2022-03-16 13:32] #116 closed

[2022-03-16 17:24] whiteHatpro commented on #102
@mayank-del update?

[2022-03-16 17:32] whiteHatpro commented on #95
@zugzwang03 please explain your issue a little bit more

[2022-03-16 18:54] kalashvasaniya commented on #118
Hey you are not assigned to me how will I start working on that?

[2022-03-17 01:58] Kumar-laxmi opened #141 "Add Twitter Clone"
### Is your feature request related to a problem? Please describe.

Yes, since twitter is one of the most famous social media platforms.

### Describe the solution you'd like.

I will be creating this clone using React JS Framework

### Describe alternatives you've considered.

If not React JS, atleast with Node JS and Bootstrap

### Add any other context or screenshots about the feature request h

[2022-03-17 03:40] zugzwang03 commented on #95
![cloneIT](https://user-images.githubusercontent.com/95460021/158732017-c1406627-f35d-4979-9c12-55d9a9f492cc.png)
At the straight blue line area, I want to add a search button feature so that an user can type the required project there and get redirected to that particular project website. For example, typing Flipkart Clone and pressing enter will take the user to the Flipkart Clone website.

[2022-03-17 06:15] gurjeetsinghvirdee commented on #95
Go ahead @zugzwang03

[2022-03-17 06:19] gurjeetsinghvirdee commented on #118
You are assigned @kalashvasaniya start working on you have 6 days to complete this issue

[2022-03-17 07:52] Adit0507 opened #142 "Add Candy Crush Clone"
### Is your feature request related to a problem? Please describe.

I would like to add a Candy crush clone which works exactly like the original game.

### Describe the solution you'd like.

It can be only played on the PC/ Laptop using mousepad.

Live site: https://adit0507.github.io/Candy-Crush/

## Screenshot
![candy-crush](https://user-images.githubusercontent.com/78037846/158761738-eaac7483-

[2022-03-17 12:36] #99 closed

[2022-03-17 19:42] #130 closed

[2022-03-17 19:44] gurjeetsinghvirdee commented on #142
Assigned to you @Adit0507 & you are gssoc 22 contributor?

[2022-03-17 19:46] gurjeetsinghvirdee commented on #141
Assigned to you @Kumar-laxmi

[2022-03-18 07:25] #95 closed

[2022-03-18 14:23] gurjeetsinghvirdee commented on #105
Closing this issue coz of no response

[2022-03-18 14:23] #105 closed

[2022-03-18 14:23] gurjeetsinghvirdee commented on #102
closing this issue coz of no response from contributor side

[2022-03-18 14:23] #102 closed

[2022-03-18 14:24] gurjeetsinghvirdee commented on #94
Closing this issue bcoz no response from contributor side

[2022-03-18 14:24] #94 closed

[2022-03-18 14:25] gurjeetsinghvirdee commented on #113
Closing this issue bcoz no response from contributor side

[2022-03-18 14:25] #113 closed

[2022-03-18 14:27] Adbnemesis commented on #94
Yes I am willing to work with GitHub clone page. I'm sorry I was very busy with my exams and all

[2022-03-18 14:39] gurjeetsinghvirdee commented on #94
Make a new issue with clear description I will assign you

[2022-03-18 19:45] Adbnemesis opened #146 "Title: Add on to the GitHub clone"
### Is your feature request related to a problem? Please describe.

GitHub clone seems to have less features right now.

### Describe the solution you'd like.

Wanted to add new features to the GitHub clone

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-03-19 12:00] #74 closed

[2022-03-19 14:01] gurjeetsinghvirdee opened #148 "Make a project section responsive"
Fix Responsiveness of project section

[2022-03-19 14:02] gurjeetsinghvirdee commented on #146
Assigned to you @Adbnemesis

[2022-03-19 14:03] gurjeetsinghvirdee commented on #119
@ruchika2210 are you still working on this issue?

[2022-03-19 14:07] gurjeetsinghvirdee commented on #71
@Mrjoy832 are you still working on this? how much time you want to finish because you already passed the deadline!

[2022-03-19 14:10] gurjeetsinghvirdee commented on #48
@Girlwithasmile assigned to you? Reply if you active or complete this in a week

[2022-03-19 14:14] gurjeetsinghvirdee commented on #46
the deadline passed so I'm removing u from this project @MonarchGitHub

[2022-03-19 17:24] gurjeetsinghvirdee commented on #16
@Anish1411 deadline was passed for this issue

[2022-03-19 17:27] gurjeetsinghvirdee commented on #5
@sakshi0210 are you still working on issues?

[2022-03-19 17:38] gurjeetsinghvirdee opened #150 "Add some new features in FAQ page"
Add some new features to the FAQ page like:

- Edit response: make an edit button that function to edit the answers written over there

- Pin the post: like some questions are common and people ask most of the time so we can pin that post, like Github we pin max 3 repos

Make a pin button so we pin the post or most asked question

and add the FAQ page menu in Navbar

[2022-03-19 17:40] gurjeetsinghvirdee commented on #150
@Rayman-Sodhi if you want to add some extra feature please add it

[2022-03-19 18:03] Olaleye-Blessing commented on #148
Can I work on this?

[2022-03-19 18:08] gurjeetsinghvirdee commented on #148
Sure Assigned to you

[2022-03-19 19:20] Sulagna-Dutta-Roy opened #152 "Title: Add Unsplash Clone"
### Is your feature request related to a problem? Please describe.

I would to like to contribute this project.
Tech stack: Html,css,Javascript

### Describe the solution you'd like.

It will be a clone that related to Unsplash photography website.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

![Unsplash Clon

[2022-03-19 19:34] rachultimate commented on #150
I'd like to work in this issue.

I already cloned the repository, created a fork, commited and:
-Created an "Ask Question" feature in the FAQ page;
-Added a FAQ page menu in the navbar

But the other features mentioned aren't really clear, could you explain them better?
That's my first time ever working on an issue and contributing to an open-source project, I'm sorry if I made any mistake.

[2022-03-20 03:54] Girlwithasmile commented on #48
Sure

[2022-03-20 06:50] #148 closed

[2022-03-20 06:57] MonarchGitHub opened #153 "Add Valorant Website Clone"
### Is your feature request related to a problem? Please describe.

I want to clone the **Valorant website**, the website has lots of cool animations and it will be a good learning resource for upcoming web developers who will explore the code. You can take a look at their website [HERE](https://playvalorant.com/en-us/).

### Describe the solution you'd like.

_Here are some screenshots of the web

[2022-03-20 06:57] gurjeetsinghvirdee commented on #152
Assigned to u @Sulagna-Dutta-Roy

[2022-03-20 06:57] MonarchGitHub commented on #153
Kindly assign me this issue.

[2022-03-20 06:59] gurjeetsinghvirdee commented on #153
Assigned to uh @MonarchGitHub

[2022-03-20 07:05] gurjeetsinghvirdee commented on #150
Are from GSSOC 22?  coz this issue created for this coding challenge

[2022-03-20 11:59] rachultimate commented on #150
Oh, no I'm not, sorry.

[2022-03-20 12:23] dude-curious opened #156 "Logo misalignment in footer and adding icons under follow us on FAQ page"
### What happened?

![image](https://user-images.githubusercontent.com/83502872/159161839-6983397b-f9ad-4ecc-a861-881d146c0cbe.png)

I'd like to align the logo correctly and add icons below "follow us"  in the footer.

### How can we reproduce this bug?

No, it's clearly visible.

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

Medium priority

[2022-03-20 12:24] dude-curious commented on #156
I'm a GSSoC contributor and I'd like to work on this issue

[2022-03-20 12:29] dude-curious opened #157 "Fixing Navbar of FAQ page"
### What happened?

![image](https://user-images.githubusercontent.com/83502872/159162197-9ed37123-b69b-4206-be64-c11931e71965.png)
Fixing the "Cloneit" logo in navbar.

### How can we reproduce this bug?

NA

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

Medium priority

[2022-03-20 12:32] dude-curious opened #158 "Making the Navbar sticky in FAQ page"
### Is your feature request related to a problem? Please describe.

Make the Navbar sticky on the FAQ page.

### Describe the solution you'd like.

I will make the Navbar sticky , clear the misalignment of the logo and add icons below 'follow us'.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-03-20 12:33] dude-curious commented on #158
I'd like to add this feature under GSSoC 22

[2022-03-20 12:35] Vijeth56 commented on #157
I would like to work on this issue under gssoc22
Please assign me this issue!

[2022-03-20 12:38] dude-curious commented on #150
I would like to work on this issue under GSSoC 22. Please assign me this issue.

[2022-03-20 13:18] gurjeetsinghvirdee commented on #150
No, issues

[2022-03-20 13:19] gurjeetsinghvirdee commented on #150
Assigning you @dude-curious but you have to complete in 6 days

[2022-03-20 13:36] dude-curious commented on #150
Thank you
Will complete it!

[2022-03-20 16:25] gurjeetsinghvirdee commented on #156
In my side it looks good

![Screenshot (751)](https://user-images.githubusercontent.com/73753957/159172280-0ec95acd-3bab-4efc-ac1b-d8e9833fbfc8.png)

[2022-03-20 16:30] gurjeetsinghvirdee commented on #156
In Chrome, Firefox Developer Edition, and in Edge, it looks perfect @dude-curious

[2022-03-20 16:31] gurjeetsinghvirdee commented on #158
assigned to u @dude-curious

[2022-03-20 16:31] dude-curious commented on #158
Thank you..

[2022-03-20 16:34] gurjeetsinghvirdee commented on #158
@dude-curious all faq page changes do in 1 single issue, edit the description and fetch your upstream before making changes

[2022-03-20 16:37] dude-curious commented on #158
Shall I close this issue?

[2022-03-20 16:37] gurjeetsinghvirdee commented on #158
not this just edit the description

[2022-03-20 16:37] #157 closed

[2022-03-20 16:37] #156 closed

[2022-03-20 16:38] #106 closed

[2022-03-20 16:39] #152 closed

[2022-03-20 16:52] dude-curious commented on #156
The FAQ page has the problem @gurjeetsinghvirdee

Kindly recheck.

[2022-03-20 16:54] dude-curious commented on #158
Sorry but what should I add in the description.

I'm new to open source so please guide me with this.

[2022-03-20 16:55] gurjeetsinghvirdee commented on #156
that's y I mention in #158 to fix all issues in faq page

[2022-03-20 16:57] gurjeetsinghvirdee commented on #158
in description you add what changes you want to fix

[2022-03-20 17:01] dude-curious commented on #158
Done..
Does that look good?
@gurjeetsinghvirdee

[2022-03-20 17:04] gurjeetsinghvirdee commented on #158
yeah it's good

[2022-03-20 17:43] priyanshusingh305 commented on #118
I would like to work on this issue

[2022-03-20 17:53] Mrjoy832 opened #163 "Instagram Login Page Clone using HTML, CSS"
I am **TRIDIB BAG**, GSSOC'22 contributor, wanted to add **Instagram Login Page Clone** using HTML, CSS as there is nothing on this topic . So I want to contribute on it.
Please @Rayman-Sodhi , can You assign it to me ?

[2022-03-20 18:16] gurjeetsinghvirdee commented on #163
@Mrjoy832 assigned to you

[2022-03-20 18:17] Mrjoy832 commented on #163
@gurjeetsinghvirdee will be done by tonight for sure

[2022-03-20 18:18] gurjeetsinghvirdee commented on #163
@Mrjoy832 make sure to deploy it

[2022-03-20 18:29] gurjeetsinghvirdee commented on #73
closing this issue coz of no response

[2022-03-20 18:29] #73 closed

[2022-03-20 18:32] #56 closed

[2022-03-20 19:00] Mrjoy832 commented on #163
PR created ..please check

[2022-03-20 21:41] whiteHatpro commented on #118
Kalash is already working on this issue

[2022-03-20 22:22] XZANATOL opened #165 "Teams page from Microsoft Teams"
### Is your feature request related to a problem? Please describe.

I would like to add Microsoft teams => teams page (the page where the groups are listed)

### Describe the solution you'd like.

* The page should be responsive as on the desktop web app.
* It will have Light & Dark modes impelemented.
* Page will use: HTML / CSS / Bootstrap 5.

### Describe alternatives you've considered.

_No re

[2022-03-21 01:05] Mrjoy832 opened #166 "Pluralsight WebPage Clone"
I am **TRIDIB BAG**,  GSSOC'22 contributor, wanted to add **PLURALSIGHT Landing  Page** Clone using **HTML, CSS** as there is nothing on this topic . So I want to contribute on it.

Please @Rayman-Sodhi , can You assign it to me ?

[2022-03-21 02:55] gurjeetsinghvirdee commented on #166
Why just login page make a website clone @Mrjoy832

[2022-03-21 02:58] gurjeetsinghvirdee commented on #165
@XZANATOL assigned to you

[2022-03-21 03:01] gurjeetsinghvirdee opened #167 "Make a Hamburger in Navbar"
In mobile responsive create a hamburger and put all menus inside it and fix logo & change the sticky position

[2022-03-21 03:34] Mrjoy832 commented on #166
@gurjeetsinghvirdee , Please assign, I will be making HULU WebPage clone

[2022-03-21 03:37] gurjeetsinghvirdee commented on #166
Already there check on link

[2022-03-21 03:42] Mrjoy832 commented on #166
Okay @gurjeetsinghvirdee , I will be adding Pluralsight Complete webpage clone...

[2022-03-21 03:43] gurjeetsinghvirdee commented on #166
Assigning to uh @Mrjoy832

[2022-03-21 04:13] StillAbeginnerr opened #168 "Zomato HomePage Clone"
### Is your feature request related to a problem? Please describe.

I want to make a clone of Homepage of zomato.com

### Describe the solution you'd like.

I will make it in CSS and React JS.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-03-21 04:41] gurjeetsinghvirdee commented on #168
@StillAbeginnerr assign to u

[2022-03-21 04:41] gurjeetsinghvirdee commented on #168
Are u a gssoc participant?

[2022-03-21 05:51] StillAbeginnerr commented on #168
@gurjeetsinghvirdee Yes , I am a gssoc participant

[2022-03-21 05:52] StillAbeginnerr commented on #168
What is the deadline to complete any issue because levels are not mentioned?

[2022-03-21 05:54] gurjeetsinghvirdee commented on #168
5-6 days , level depends on your work

[2022-03-21 06:06] StillAbeginnerr commented on #168
@gurjeetsinghvirdee thank you for the opportunity. I will complete the issue as soon as possible.

[2022-03-21 06:42] #166 closed

[2022-03-21 08:27] Mrjoy832 opened #172 "WhatsApp UI Clone"
I am **TRIDIB BAG**,  GSSOC'22 contributor, wanted to add **WhatsApp UI** Clone using **HTML, CSS** as there is nothing on this topic . So I want to contribute on it.

Please @Rayman-Sodhi , can You assign it to me ?

[2022-03-21 10:23] dude-curious commented on #158
Is this issue fixed now?

[2022-03-21 10:26] dude-curious commented on #150
Can I use MongoDB to store the questions? @gurjeetsinghvirdee

[2022-03-21 13:45] #158 closed

[2022-03-21 13:50] Vijeth56 commented on #167
I would like to work on this issue under gssoc22
Please assign me!!!

[2022-03-21 13:52] dude-curious commented on #150
Where should I store the Database?

[2022-03-21 14:08] gurjeetsinghvirdee commented on #172
@Rayman-Sodhi assign him, wait till she assigns you ok😁

[2022-03-21 14:11] gurjeetsinghvirdee commented on #167
@Vijeth56 assign uh! you have have 5-6 days to complete it

[2022-03-21 14:17] gurjeetsinghvirdee commented on #150
Now make your own after some time I will change the connection to the Admins account

[2022-03-21 14:19] gurjeetsinghvirdee commented on #172
Assigned u @Mrjoy832 even I can do same things

[2022-03-21 14:32] dude-curious commented on #150
Ok, Thanks

[2022-03-22 04:40] #172 closed

[2022-03-22 04:43] Girlwithasmile commented on #48
Pls give me a little more time as I am in a hackathon. I've already completed many things and shall complete remaining soon!
![Screenshot 2022-03-22 100945](https://user-images.githubusercontent.com/98261167/159409694-3ebfa533-f9db-4f21-9bf8-c400fcc17f2c.png)

[2022-03-22 05:22] gurjeetsinghvirdee commented on #48
Ok

[2022-03-22 10:13] Mrjoy832 opened #175 "Windows 11 Clone using HTML, CSS, JS"
I am **TRIDIB BAG**,  GSSOC'22 contributor, wanted to add **Windows 11   Clone using HTML, CSS, JS** as there is nothing on this topic . So I want to contribute on it.

Please @gurjeetsinghvirdee ,can You assign it to me ?

[2022-03-22 10:30] Mrjoy832 opened #176 "Mac OS Clone using HTML, CSS"
I am **TRIDIB BAG**,  GSSOC'22 contributor, wanted to add **Mac OS  Clone using HTML, CSS, JS** as there is nothing on this topic . So I want to contribute on it.

Please @gurjeetsinghvirdee ,can You assign it to me ?

[2022-03-22 10:38] gurjeetsinghvirdee commented on #176
Assigned u @Mrjoy832

[2022-03-22 10:58] #141 closed

[2022-03-22 13:30] #71 closed

[2022-03-22 13:37] Kumar-laxmi opened #177 "Title: Create Rockstar Games Clone"
### Is your feature request related to a problem? Please describe.

Yes,this website belongs to company that have created popular games like: GTA 5, GTA 4, GTA SanAndreas , GTA Vice City, GTA 3,etc

### Describe the solution you'd like.

- I will approach this using React JS

### Describe alternatives you've considered.

- At least I will do this using BootStrap

### Add any other context or scree

[2022-03-22 14:34] dude-curious commented on #150
This is a static website and I need to use NodeJs for storing data, should I need to initialize Node in just the 'FAQ' folder ??

[2022-03-22 14:36] gurjeetsinghvirdee commented on #150
Who stopped you to do this go ahead

[2022-03-22 16:40] #175 closed

[2022-03-22 16:42] gurjeetsinghvirdee commented on #177
@Kumar-laxmi assigned u

[2022-03-23 06:32] #97 closed

[2022-03-23 10:43] dvlsatya commented on #118
I would like to work on this issue

[2022-03-23 11:57] gurjeetsinghvirdee commented on #118
Already issued

[2022-03-23 18:15] sakshi0210 commented on #5
Yes

On Sat, Mar 19, 2022, 10:57 PM Gurjeet Singh Virdee <
***@***.***> wrote:

[2022-03-23 18:42] AnweshaRoses commented on #16
hello I am a Gssoc participant, can you please assign this to me

[2022-03-24 04:52] gurjeetsinghvirdee commented on #5
@sakshi0210 then plz make a new issue, I wamt to know what are you working , I can't  add label here because this place foe discussion

Make a new issue

[2022-03-24 04:52] gurjeetsinghvirdee commented on #16
Assigning to u @AnweshaRoses

[2022-03-24 11:31] sakshi0210 commented on #5
Okay 👍🏻

On Thu, Mar 24, 2022, 10:22 AM Gurjeet Singh Virdee <
***@***.***> wrote:

[2022-03-25 07:45] gurjeetsinghvirdee commented on #63
@Anish1411 are you still working with this?

[2022-03-25 09:13] Anish1411 commented on #63
yeah i will submit it by tomorrow

[2022-03-25 09:30] gurjeetsinghvirdee commented on #63
Ok

On Fri, Mar 25, 2022 at 2:43 PM Anish Kirodiwal ***@***.***>
wrote:

[2022-03-25 10:46] #109 closed

[2022-03-25 13:22] #78 closed

[2022-03-25 14:10] rahulthakur19 opened #182 "Title: Tripadvisor clone"
### Is your feature request related to a problem? Please describe.

I want to add TrioAdvisor homepage clone.

### Describe the solution you'd like.

I will use Tailwind Css and React features to make a website from my perspective.

### Describe alternatives you've considered.

No Response.

### Add any other context or screenshots about the feature request here.

No Response.

[2022-03-25 14:13] Kumar-laxmi opened #183 "Create Make My Trip Clone"
### Is your feature request related to a problem? Please describe.

Yes, this would be on Make My Trip Website

### Describe the solution you'd like.

I will use React

### Describe alternatives you've considered.

At least use Bootstrap

### Add any other context or screenshots about the feature request here.

![image](https://user-images.githubusercontent.com/76027425/160137407-70483e7a-1875-4c9

[2022-03-25 14:14] Kumar-laxmi commented on #46
Assign this issue to me

[2022-03-25 14:34] Kumar-laxmi commented on #46
@gurjeetsinghvirdee Bro can you merge my recent pull request, so that I start working on this

[2022-03-25 14:49] Kumar-laxmi opened #184 "Create Nykaa Clone"
### Is your feature request related to a problem? Please describe.

Yes, since I am contribution a website clone

### Describe the solution you'd like.

I will use HTML, CSS(Bootstrap Framework) and JS(Node JS Framework)

### Describe alternatives you've considered.

-

### Add any other context or screenshots about the feature request here.

![image](https://user-images.githubusercontent.com/7602

[2022-03-25 16:31] rahulthakur19 commented on #182
Can you pls add GSSOC label to it.

[2022-03-25 18:50] gurjeetsinghvirdee opened #186 "Fix Search Bar"
Sometimes search bar didn't work properly. Umm If I take an example:
When you search `Apple Clone` and hit the search button that will show you a deployed preview
but when you search `Google Clone` or `Tesla Clone` it doesn't work at all.

[2022-03-25 19:01] #89 closed

[2022-03-26 06:43] mahiiverse1 opened #188 "Title: Add a CodePen Clone"
### Is your feature request related to a problem? Please describe.

I want to work on adding a Codepen clone to this project.

### Describe the solution you'd like.

I will be using React to build a Codepen clone. Since I will be building from scratch please let me know in how much time should I build it, preferably I require 2-3 weeks.

### Describe alternatives you've considered.

_No response_

[2022-03-26 07:48] #46 closed

[2022-03-26 08:22] Nitya-S27 opened #189 "UI of About Us section can be improved"
### Is your feature request related to a problem? Please describe.

- There is very less space between two rows in the About Us section.

- The padding of the text box must be increased for better readability.

- Also the images are overflowing out of the box which is not looking good and can be improved.

### Describe the solution you'd like.

This issue can be resolved by adding some space betwe

[2022-03-26 08:25] StillAbeginnerr commented on #168
![image](https://user-images.githubusercontent.com/88205668/160231317-414247fb-ceab-42c8-ac68-e483121a84f0.png)

I shall complete it by tomorrow

[2022-03-26 09:34] priyanshi-2001 opened #190 "AppleClone TV&Home Page"
I want to add TV&Home Page in Apple Clone. Whenever user clicks on TV&Home on main page  the following page will open.
This is the page I want to make.
![issue1 1](https://user-images.githubusercontent.com/55049704/160233553-0a701848-46b8-4bf8-88b9-f583d3def07e.png)

I will make it using html,css and javascript.

The page will have exact parallax effect as on apple website https://www.apple.com/in

[2022-03-26 10:43] gurjeetsinghvirdee commented on #188
Assigned to you @mahiiverse1 you have 1 week to complete

[2022-03-26 10:43] gurjeetsinghvirdee commented on #189
Assigned to u @Nitya-S27

[2022-03-26 10:45] gurjeetsinghvirdee commented on #119
closing this issue coz of no response from contributor @ruchika2210

[2022-03-26 10:45] #119 closed

[2022-03-26 10:46] gurjeetsinghvirdee commented on #190
Assign to u @priyanshi-2001

[2022-03-26 11:02] gurjeetsinghvirdee opened #191 "demo"
testing workflows

[2022-03-26 11:05] #191 closed

[2022-03-26 11:10] gurjeetsinghvirdee opened #192 "testing workflows"

[2022-03-26 11:11] gurjeetsinghvirdee commented on #192
Working

[2022-03-26 11:11] #192 closed

[2022-03-26 13:41] Kumar-laxmi opened #194 "Create a Wikipedia Clone"
### Is your feature request related to a problem? Please describe.

Yes, this is related to the problem this project deals with

### Describe the solution you'd like.

I will use HTML, JS, CSS

### Describe alternatives you've considered.

-

### Add any other context or screenshots about the feature request here.

![image](https://user-images.githubusercontent.com/76027425/160242134-5bd91ba9-47eb

[2022-03-26 17:36] gurjeetsinghvirdee commented on #186
@laporchen attach video in your PR

[2022-03-26 17:39] gurjeetsinghvirdee commented on #194
Assigned to you @Kumar-laxmi

[2022-03-26 17:44] gurjeetsinghvirdee commented on #150
@Kumar-laxmi don't mention different PR in this issue
FAQ issue was different and clones issue was different & fix this issues first either I have to remove you in 3 days

[2022-03-26 18:15] #186 closed

[2022-03-27 04:57] gurjeetsinghvirdee opened #195 "Read this⚡"
Hey Everyone
Please don't mention me in new Issues and PR if not important, I have exams so, I can't be here to check your code.

PA and other mentors will help you
@Rayman-Sodhi @whiteHatpro @MukulKolpe

Added a feature so when you create an issue if Mentors or PA is not assigned then you use this command `/assign` so it will assign you

If your PR is pending for days then ping me on discord.
Tha

[2022-03-27 11:23] GNtrazios commented on #5
Hey, I am interested in making a clone of a website. I was thinking about pizza fan (https://www.pizzafan.gr/en). Could u please assign me?

[2022-03-27 12:06] Mrjoy832 opened #197 "Google Login Page Clone"
Hey! I am **Tridib Bag**, GSSOC'22 Contributor, wanted to add a clone of **Google Login Page** using HTML5, CSS3 as there is nothing regarding this.
Can @Rayman-Sodhi , @gurjeetsinghvirdee , kindly assign it to me?

[2022-03-27 13:00] gurjeetsinghvirdee commented on #197
Closing this coz we need website clone not a login clone and google clone alreadyaafed by me

[2022-03-27 13:00] gurjeetsinghvirdee commented on #197
Read important issue before mentioning me @Mrjoy832

[2022-03-27 13:00] #197 closed

[2022-03-27 13:04] Kumar-laxmi commented on #150
@gurjeetsinghvirdee  Ohk I am really sorry, but maybe I will work on this issue sometimes later, so please don't assign to me

[2022-03-27 13:07] gurjeetsinghvirdee commented on #150
Sorry but this was necessary if you can't work i have to pin it open for all

[2022-03-27 13:13] Mrjoy832 opened #198 "Airbnb webpage Clone"
Hi, I am **TRIDIB BAG**. I'm a GSSoC22 participant.
I want to add **landing page clone of Airbnb** with proper documentation as there is nothing regarding this . I'm really want to contribute in this topic .

Can @Rayman-Sodhi @whiteHatpro  please assign it to me?

[2022-03-27 14:22] gurjeetsinghvirdee commented on #198
Assigned to u @Mrjoy832

[2022-03-27 14:32] #183 closed

[2022-03-27 14:33] Kumar-laxmi opened #200 "Create BBC News Clone"
### Is your feature request related to a problem? Please describe.

Yes, since this is a website clone

### Describe the solution you'd like.

I will use simple HTML, CSS(Bootstrap Framework) and JS

### Describe alternatives you've considered.

-

### Add any other context or screenshots about the feature request here.

![image](https://user-images.githubusercontent.com/76027425/160286479-8e22ff6

[2022-03-27 14:40] gurjeetsinghvirdee commented on #200
Assign to u @Kumar-laxmi

[2022-03-27 15:37] Olaleye-Blessing opened #202 "Title: Use semantic tags to make Clone-IT more accessibile"
### Is your feature request related to a problem? Please describe.

Screen readers will have problems while accessing the website.

### Describe the solution you'd like.

Use semantics tags where necessary instead of divs.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

This is what it currently looks like.
![S

[2022-03-27 16:30] #198 closed

[2022-03-27 16:31] gurjeetsinghvirdee commented on #202
Assigned to u @Olaleye-Blessing

[2022-03-27 16:32] gurjeetsinghvirdee commented on #132
are you still working on this issue @NourYoussry

[2022-03-27 17:23] gurjeetsinghvirdee commented on #118
@priyanshusingh305 assigned to u

[2022-03-27 19:50] #202 closed

[2022-03-27 19:55] gurjeetsinghvirdee commented on #5
@GNtrazios make a new issue plz then I will assign you

[2022-03-28 04:29] StillAbeginnerr commented on #168
@gurjeetsinghvirdee I have done the work, can you please merge my pull request.

[2022-03-28 05:01] #168 closed

[2022-03-28 05:42] Mrjoy832 opened #205 "Coinbase Webpage Clone"
Hi, I am **TRIDIB BAG**. I'm a GSSoC22 participant.
I want to add landing page clone of **Coinbase**  with proper documentation as there is nothing regarding this . I'm really want to contribute in this topic .

Can @Rayman-Sodhi @whiteHatpro please assign it to me?

[2022-03-28 06:00] gurjeetsinghvirdee commented on #205
Assigned to u @Mrjoy832

[2022-03-28 09:03] Kumar-laxmi opened #207 "Create Nike Website Clone"
### Is your feature request related to a problem? Please describe.

Yes, since this is a website clone

### Describe the solution you'd like.

I will use HTML, CSS, JS

### Describe alternatives you've considered.

-

### Add any other context or screenshots about the feature request here.

-

[2022-03-28 13:03] #142 closed

[2022-03-28 13:57] gurjeetsinghvirdee commented on #207
Assigned to u @Kumar-laxmi

[2022-03-28 14:50] #184 closed

[2022-03-28 15:11] Kumar-laxmi opened #209 "Create Dominos Website"
### Is your feature request related to a problem? Please describe.

Yes, since this is a website clone

### Describe the solution you'd like.

I will use HTML, CSS and JS

### Describe alternatives you've considered.

-

### Add any other context or screenshots about the feature request here.

![image](https://user-images.githubusercontent.com/76027425/160429572-025ff618-e72f-40ae-bfb6-6d5bed8aceb

[2022-03-28 16:23] gurjeetsinghvirdee commented on #177
Code copied from this repo `https://github.com/EmmanuelOkuchukwu/rockstar-social-club-clone`
@Kumar-laxmi

@whiteHatpro

[2022-03-28 17:08] gurjeetsinghvirdee commented on #200
Copied content from this repo `https://github.com/robin3317/BBC-News-Website`

I don't think you can make your own clones I have a doubt from the first day how can someone make this much fast,
I check on some sites but it doesn't work due to some js,

@Rayman-Sodhi what to do now 6 PR from this guy all are copied content

[2022-03-28 17:53] StillAbeginnerr opened #214 "Create: Kali.org Homepage Clone"
### Is your feature request related to a problem? Please describe.
I am gssoc participant and i want to put forward a proposal,

<h2>As this is an open source event , open source brands like kali linux should be included in this repository too. I can make a clone of kali.org homepage.<h2>

### Describe the solution you'd like.

Simple Homepage of Kali.org with
<hr>
My Extra Features:
<li>floating

[2022-03-28 17:56] gurjeetsinghvirdee commented on #214
Assigned to u @StillAbeginnerr

[2022-03-28 18:07] gurjeetsinghvirdee commented on #214
Please don't copy code from anywhere either it will be get Plagiarism Content label like others get

[2022-03-28 18:37] #146 closed

[2022-03-28 18:50] GNtrazios opened #215 "Create Pizza Fan Website"
**Is your feature request related to a problem? Please describe.**
Yes, since this is a website clone

**Describe the solution you'd like.**
I will use HTML, CSS

**Describe alternatives you've considered.**

-

**Add any other context or screenshots about the feature request here.**
Link of website -> https://www.pizzafan.gr/en

![1](https://user-images.githubusercontent.com/72870150/160465645-3c

[2022-03-28 18:57] GNtrazios commented on #215
@[gurjeetsinghvirdee](https://github.com/gurjeetsinghvirdee) i've just create the issue and i am going to start work on it.
Could you please assign me for this task?

[2022-03-28 19:58] gurjeetsinghvirdee commented on #215
@GNtrazios assigned to u

[2022-03-29 00:54] #177 closed

[2022-03-29 00:54] #209 closed

[2022-03-29 00:54] #207 closed

[2022-03-29 00:54] #200 closed

[2022-03-29 05:59] StillAbeginnerr commented on #214
I don't copy as it would not improve my learning , I will just take original content from the kali.org itself

[2022-03-30 04:08] #55 closed

[2022-03-30 04:09] gurjeetsinghvirdee commented on #58
@Girlwithasmile your hackathon completed? And you are free to complete this issue or I will close it?

[2022-03-30 04:09] #163 closed

[2022-03-30 17:16] gurjeetsinghvirdee opened #222 "Add Instagram Clone"
The choice was yours if it will be a UI or You want to make it fully functional

[2022-03-30 17:41] Sourajita21 commented on #222
Assign me this task please. I will try to give my best.

[2022-03-30 17:44] gurjeetsinghvirdee commented on #222
Assigned uh @Sourajita21 you have a week to complete this

[2022-03-31 16:59] priyanshi-2001 commented on #190
Hello mam, I know its been 5 days since I have opened this issue. But I need some time. My college project submission is going on.
I will complete making the webpage of this issue by next week positively.
Thankyou.

[2022-03-31 17:27] gurjeetsinghvirdee commented on #190
Ok take your time, by the way I'm not mam😶‍🌫

[2022-04-01 07:00] #194 closed

[2022-04-01 09:09] gurjeetsinghvirdee opened #224 "Add 2048 game"
2048 game using React Js

[2022-04-01 13:17] gurjeetsinghvirdee opened #226 "Updating Workflows"
Adding an auto assign bot in workflows

[2022-04-01 13:18] gurjeetsinghvirdee commented on #226
Assigning myself @Rayman-Sodhi plz check the merged PR for changing labels if you want to change

[2022-04-01 13:26] shrutiverma13 opened #227 "Image carousel in KFC Clone"
### Is your feature request related to a problem? Please describe.

The cards in the clone are just displayed plainly in a tabular format.

### Describe the solution you'd like.

Adding an image carousel which can be scrollable.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-04-01 13:27] shrutiverma13 commented on #227
Assign the issue to me.

[2022-04-01 13:33] Adbnemesis opened #228 "Title: Styling Discord clone"
### Is your feature request related to a problem? Please describe.

The buttons are not styled properly. They lack padding. Also the color isnt matching the real app.

### Describe the solution you'd like.

I'd style the buttons properly and add some padding to them. Also i'll find the best color matching the real app.

### Describe alternatives you've considered.

_No response_

### Add any other

[2022-04-01 13:41] gurjeetsinghvirdee commented on #227
@shrutiverma13 assigned to u

[2022-04-01 13:42] gurjeetsinghvirdee commented on #228
assigned to u @Adbnemesis

[2022-04-01 13:43] #226 closed

[2022-04-01 13:43] #224 closed

[2022-04-01 13:50] gurjeetsinghvirdee opened #230 "demo"
testing workflows

[2022-04-01 13:51] gurjeetsinghvirdee commented on #230
/assign

[2022-04-01 13:52] gurjeetsinghvirdee commented on #230
LGTM

[2022-04-01 14:24] XZANATOL opened #231 "Twitch Homepage Clone"
### Is your feature request related to a problem? Please describe.

A Clone of Twitch Homepage with Dark Theme applied

### Describe the solution you'd like.

The project will make use of:
* HTML
* CSS
* Bootstrap 5

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

![image](https://user-images.githubusercontent.c

[2022-04-01 14:55] gurjeetsinghvirdee commented on #231
Our Topper comes here😁😁 @XZANATOL
assigned u

[2022-04-01 14:55] gurjeetsinghvirdee commented on #231
/assign

[2022-04-01 15:09] gurjeetsinghvirdee opened #232 "link cloned projects"
Link projects to the main website that are not added by contributors

[2022-04-01 15:09] gurjeetsinghvirdee commented on #232
/assign

[2022-04-01 18:43] MitAbhay commented on #150
@gurjeetsinghvirdee  I want to work on this issue if it is still pending, I am a Gssoc22 contributor.

[2022-04-01 18:49] gurjeetsinghvirdee commented on #150
assigned to u @MitAbhay

[2022-04-01 18:50] gurjeetsinghvirdee commented on #150
you have a week to complete this @MitAbhay

[2022-04-01 21:34] gurjeetsinghvirdee opened #234 "Add Amazon Clone"
Amazon Clone using React Js with proper functionality & used the stripe to make demo payments and in the end, you will get to see your orders history on the Order Page

[2022-04-01 21:35] gurjeetsinghvirdee commented on #234
/assign

[2022-04-01 22:21] #232 closed

[2022-04-01 23:05] StillAbeginnerr commented on #214
Update - Floating Animation done and Header Part

![image](https://user-images.githubusercontent.com/88205668/161352653-65438e1f-41d5-4b0e-8266-2d1a7fd935ab.png)

[2022-04-02 02:30] StillAbeginnerr commented on #214
I did my best whatever I could have done being a beginner , unfortunately I have got exams so wrapping up the best work.

[2022-04-02 02:38] Abh1shekSingh opened #236 "Add Instagram Clone"
### Is your feature request related to a problem? Please describe.

I want to Add Instagram Clone

### Describe the solution you'd like.

I want to add instagram clone to the website and make a contribution.  Made using ReactJS

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-04-02 04:34] #214 closed

[2022-04-02 05:29] gurjeetsinghvirdee commented on #236
Already open #222 so I have to close this sorry

[2022-04-02 05:29] #236 closed

[2022-04-02 05:31] gurjeetsinghvirdee commented on #58
Closing this issue bcoz no response from the contributor side

[2022-04-02 05:31] #58 closed

[2022-04-02 07:17] mahiiverse1 commented on #188
@gurjeetsinghvirdee Hi I know I'm supposed to complete this by today, and I have worked on it quite a bit just wanted to ask can I get one extra day to complete this? Since i was really busy the last week with my exams and only started working on this yesterday, and also my system was showing some errors, I'll definitely make a PR by Sunday (tomorrow)

[2022-04-02 07:18] gurjeetsinghvirdee commented on #188
No problm

[2022-04-02 11:18] Mrjoy832 opened #237 "Grammarly Clone"
Hi, I am **TRIDIB BAG.** I'm a GSSoC22 participant.
I want to add **Grammarly Character Counter clone**  with proper documentation as there is nothing regarding this . I'm really want to contribute in this topic .

[2022-04-02 11:18] Mrjoy832 commented on #237
/assign

[2022-04-02 17:16] Akshata-Gunapache opened #239 "Title: Add Wordle-Clone"
### Is your feature request related to a problem? Please describe.

I wish to add a clone of Wordle website

### Describe the solution you'd like.

A website that is a clone of Wordle-The word
![Screenshot 2022-04-02 224532](https://user-images.githubusercontent.com/96786500/161393892-72d0e874-7893-404f-b3a7-c23faa998445.png)
game

### Describe alternatives you've considered.

_No response_

### A

[2022-04-02 17:17] Akshata-Gunapache commented on #239
I am GSSoC'22 participant and I would love to work on this issue with the above ideas. @Rayman-Sodhi Please assign it to me

[2022-04-02 17:18] Akshata-Gunapache commented on #239
/assign

[2022-04-02 17:23] #231 closed

[2022-04-02 17:58] gurjeetsinghvirdee commented on #239
@Akshata-Gunapache hey once completed plz deploy your project and add On readme file under project folder with video

[2022-04-02 17:59] gurjeetsinghvirdee opened #240 "Add Chatbot"
Chatbot using chatwoot with React js

[2022-04-02 17:59] gurjeetsinghvirdee commented on #240
/assign

[2022-04-02 19:36] #240 closed

[2022-04-02 19:40] Rayman-Sodhi opened #242 "Change Position of scroll up button . Chatbot and Scroll up button are intermixed."

[2022-04-02 21:32] AnweshaRoses commented on #16
@gurjeetsinghvirdee  To make it into a linkedIn clone I think I will have to change almost every single element so is it okay if I make another one from scratch since that will be much easier?

[2022-04-02 21:34] gurjeetsinghvirdee commented on #16
ok make another one

[2022-04-03 01:30] Mrjoy832 opened #243 "Avenger Puzzle Game Clone"
Hi, I am **TRIDIB BAG**. I'm  GSSoC22 participant.
I want to add **Avenger Puzzle Game clone** with proper documentation as there is nothing regarding this . I'm really want to contribute in this topic .

[2022-04-03 01:30] Mrjoy832 commented on #243
/assign

[2022-04-03 02:11] Akshata-Gunapache commented on #242
@Rayman-Sodhi Hi, I am a GSSoC'22 participant. I would like to work on this issue . Could you please assign it to me and also send me the details of the issue or a screenshot showing the problem?

[2022-04-03 03:02] Abh1shekSingh opened #244 "Twitter Clone In ReactJS"
### Is your feature request related to a problem? Please describe.

Want to Add twitter Clone which i have made using ReactJS and Firbase

### Describe the solution you'd like.

Will Add Twitter clone

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-04-03 03:03] Abh1shekSingh commented on #244
Please Assign this issue to me @Rayman-Sodhi

[2022-04-03 03:11] #244 closed

[2022-04-03 05:00] gurjeetsinghvirdee commented on #242
There were no ss bcoz in last PR
I changed some css and that scroll button was out of the screen right now

If you can check your browser in 70-80% zoom then it will show from left side

[2022-04-03 05:01] #237 closed

[2022-04-03 10:44] soumali28 commented on #167
I want to work on this issue under Jwoc.

[2022-04-03 10:53] gurjeetsinghvirdee commented on #167
@soumali28 JWOC ended

[2022-04-03 10:55] soumali28 commented on #167
Sorry it will be GSSoc. 😅

[2022-04-03 11:03] gurjeetsinghvirdee commented on #167
Assigned to u @soumali28

[2022-04-03 11:16] Mrjoy832 opened #247 "Dino Game Clone"
Hi, I am **TRIDIB BAG**. I'm  GSSoC22 participant.
I want to add **Dino Game**  clone with proper documentation as there is nothing regarding this . I'm really want to contribute in this topic .

[2022-04-03 11:17] Mrjoy832 commented on #247
/assign

[2022-04-03 12:02] gurjeetsinghvirdee opened #249 "testing"
### Description

testing new workflows

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-03 12:02] gurjeetsinghvirdee commented on #249
/assign

[2022-04-03 12:02] gurjeetsinghvirdee commented on #249
Working✨

[2022-04-03 12:02] #249 closed

[2022-04-03 12:20] #228 closed

[2022-04-03 16:05] #195 closed

[2022-04-03 16:07] gurjeetsinghvirdee opened #250 "Add MS Paint Clone"
### Description

MS Paint Clone: It works the same as the paint app in windows that was the old version, MS paint is used in Windows XP I think.
So, I'm making this.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-03 16:08] gurjeetsinghvirdee commented on #250
/assign

[2022-04-03 17:54] gurjeetsinghvirdee commented on #48
@Girlwithasmile are you working on it?

[2022-04-03 17:59] #250 closed

[2022-04-03 20:46] #234 closed

[2022-04-04 06:36] shreya024 opened #255 "Star Catching game"
### Description

Hi, I am Shreya. I'm GSSoC22 participant.
I want to add Star Catching Game  with proper documentation  .

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-04 06:37] shreya024 commented on #255
/assign

[2022-04-04 07:20] #255 closed

[2022-04-04 08:07] TG922 opened #256 "[Adding]: Building a Tinder Clone"
### Description

Building a Tinder Clone web application

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-04 09:17] gurjeetsinghvirdee commented on #256
Assigned to u @TG922

[2022-04-04 09:18] #243 closed

[2022-04-04 09:26] gurjeetsinghvirdee opened #257 "bug: fix Hamburger"
### What happened?

Fix Hamburger in Mobile responsive, It covers all things in site
![Screenshot (800)](https://user-images.githubusercontent.com/73753957/161514438-8b50a897-5ecd-4bb2-a6c9-a0eddd9110f3.png)

### How can we reproduce this bug?

Chang color or add a background bcoz that a white color if I open a hamburger in the white background then it will be not shown so fix it

### Desktop Info

[2022-04-04 10:31] Debdeep1 opened #258 "[New Issue]: Myntra website clone"
### Description

Description of the project here

Clone of the Myntra website made using React Js.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-04 10:31] Debdeep1 commented on #258
I want to work on this issue under GSSoC22.

[2022-04-04 11:03] Adbnemesis opened #259 "Title: Proper Styling and adding dark mode feature in the youtube clone"
### Is your feature request related to a problem? Please describe.

The styling seems a little bit off as compared to the real website.

### Describe the solution you'd like.

Proper font, padding, margins and dark mode feature.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-04-04 12:24] Debdeep1 opened #261 "[Addition]: Snake Game Clone"
### Description

Snake Game Clone

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-04 12:25] Debdeep1 commented on #261
I want to work on this issue under GSSoC22

[2022-04-04 12:28] #261 closed

[2022-04-04 12:39] StillAbeginnerr opened #262 "W3 schools Homepage"
### Description

I am gssoc participant and i want to make a landing page frontend clone of W3 schools website - https://www.w3schools.com/

Tech stack - html , css and javascript

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-04 13:07] Adbnemesis commented on #259
please assign  me this issue.

[2022-04-04 13:11] Adbnemesis commented on #259
@gurjeetsinghvirdee

[2022-04-04 13:38] mahiiverse1 commented on #188
Hi I've completed the clone Im just confused how to put it up on here and make a PR since this is my first React project I've made and also I'm new to contributing. I have certain node-modules folder with another set of folders that im not able to upload but I also noticed other projects uploaded do not have that.
Also do i need to host this website? Do i host it on github itself or something like

[2022-04-04 20:56] gurjeetsinghvirdee opened #265 "Title: update readme"
### Is your feature request related to a problem? Please describe.

update readme with PA

### Describe the solution you'd like.

Adding PA to the readme profile

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-04-04 20:57] gurjeetsinghvirdee commented on #265
/assign

[2022-04-04 21:07] #265 closed

[2022-04-04 21:20] gurjeetsinghvirdee opened #267 "Nykaa Clone"
### Description

I Want to add Nykaa Clone using Javascript

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-04 21:21] gurjeetsinghvirdee commented on #267
/assign

[2022-04-04 21:46] gurjeetsinghvirdee opened #268 "bug: Fix footer"
### What happened?

someone added extra footer in code

### How can we reproduce this bug?

Remove the extra footer

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

High priority

[2022-04-04 21:47] #167 closed

[2022-04-05 03:51] Rakesh9100 commented on #268
In which code are you talking about ?

[2022-04-05 03:55] gurjeetsinghvirdee commented on #268
About this that white part

![Screenshot_2022-04-05-09-24-06-757_com android chrome](https://user-images.githubusercontent.com/73753957/161675816-5cc0542a-707a-49b6-b02c-c2a6005106b3.jpg)

[2022-04-05 04:03] Rakesh9100 commented on #268
Can i work on this issue ?

[2022-04-05 05:04] gurjeetsinghvirdee commented on #268
Sure @Rakesh9100 assigned to u

[2022-04-05 06:24] le11evan opened #271 "Twitter Clone"
### Description

Description
Building a Twitter Clone web application

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-05 06:25] le11evan commented on #271
/assign

[2022-04-05 07:38] #258 closed

[2022-04-05 08:17] #268 closed

[2022-04-05 09:19] gurjeetsinghvirdee commented on #188
make a .gutignore file in your project folder then write nodemodules inside there

Like this

# dependencies
/node_modules
/.pnp

And deploy whether you want

[2022-04-05 09:21] mahiiverse1 commented on #188
ok I got it, I'll try it thanks!!

[2022-04-05 09:24] gurjeetsinghvirdee commented on #188
If your issue not solved then ping me
<a href="https://discordapp.com/users/916597112882495510" target="_blank">
<img src="https://img.shields.io/badge/@Guri-5865F2?style=for-the-badge&logo=discord&logoColor=white" width="80" height="22" alt="discord">

[2022-04-05 11:49] abhilipsasahoo03 opened #274 "Add Wordle Clone"
### Is your feature request related to a problem? Please describe.

I'd like to add a Wordle Game Clone that we can use to play not just once a day, but anytime. Kindly consider my contribution under GSSOC'22.

### Describe the solution you'd like.

Wordle Clone is built using HTML, CSS, and JS, with a little bit of animate.css and toastr for non-blocking notifications.

### Describe alternatives

[2022-04-05 11:53] abhilipsasahoo03 commented on #274
@Rayman-Sodhi kindly assign it to me.

[2022-04-05 11:56] #274 closed

[2022-04-05 11:56] abhilipsasahoo03 commented on #274
Sorry, I just found this is a duplicate issue, so closed it.

[2022-04-05 13:07] Mrjoy832 opened #275 "Coin Toss Website Clone"
### Description

Hi, I am **TRIDIB BAG**. I'm GSSoC22 participant.
I want to add **Coin Toss Website** clone  with proper documentation as there is nothing regarding this . I'm really want to contribute in this topic . It will randomly select **head or tail** for every flipping.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Gui

[2022-04-05 13:08] Mrjoy832 commented on #275
/assign

[2022-04-05 14:43] Mrjoy832 opened #276 "News Extension Clone"
### Description

Hi, I am **TRIDIB BAG.** I'm GSSoC22 participant.
I want to add **News Extension Clone**  with proper documentation as there is nothing regarding this . I'm really want to contribute in this topic . It will randomly show the news of all across the world.

![image](https://user-images.githubusercontent.com/77873383/161779964-3e394899-2ac9-434a-ac6d-d0e1b0bbe98f.png)

### Code of Co

[2022-04-05 15:21] #276 closed

[2022-04-05 17:49] Rakesh9100 opened #278 "Add Clone of Hulu - Stream TV"
### Description

Can I add the clone of most popular Stream TV and Movies -- Hulu ?

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-05 20:22] gurjeetsinghvirdee commented on #278
Hulu is already there on the site you can check here https://rayman-sodhi.github.io/Clone-IT/

[2022-04-05 20:23] gurjeetsinghvirdee commented on #278
I'm closing this issue because Hulu already in this repo

[2022-04-05 20:23] #278 closed

[2022-04-05 21:16] #275 closed

[2022-04-05 21:17] gurjeetsinghvirdee opened #281 "Amazon Prime Clone"
### Description

Amazon Prime Clone with React Js

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-05 21:17] gurjeetsinghvirdee commented on #281
/assign

[2022-04-06 01:33] Mrjoy832 opened #283 "Uber UI Clone"
### Description

Description of the project here:
Hi, I am **TRIDIB BAG**. I'm GSSoC22 participant.
I want to add **Uber UI clone** with proper documentation as there is nothing regarding this . I really want to contribute in this topic .
![image](https://user-images.githubusercontent.com/77873383/161877782-3572ed28-5a7b-44db-990f-25db6e924128.png)

### Code of Conduct

- [X] I follow [Contributin

[2022-04-06 01:33] Mrjoy832 commented on #283
/assign

[2022-04-06 06:07] #271 closed

[2022-04-06 06:29] #227 closed

[2022-04-06 06:30] Debdeep1 opened #284 "[New Idea]: Google Docs Clone"
### Description

This is a clone of Google Docs using React , Socket.io

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-06 06:30] Debdeep1 commented on #284
I want to work on this issue under GSSoC'22.

[2022-04-06 07:38] shrutiverma13 opened #285 "Title: FaceBook Clone LogIn Page"
### Is your feature request related to a problem? Please describe.

There is no login page to the facebook clone website. When we open the official website, it is the first thing which is displayed.

### Describe the solution you'd like.

I want to add a new login page to the site, we can even give dummy credentials to mimic the workflow.

### Describe alternatives you've considered.

_No response

[2022-04-06 07:39] shrutiverma13 commented on #285
Assign the issue to me.

[2022-04-06 14:34] ayush-sleeping opened #287 "SpaceX Clone"
### Description

I will Try my best to make clone of " SpaceX "  landing page  Clone ,
With the use Html, Css and js ,
This will help me to enhance my frontend skills.

#

Hey Mentor and Admin  , Kindly assign me this issue
I want to work on this issue under @GSSOC'22 ,

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines)

[2022-04-06 16:19] Akshata-Gunapache commented on #239
I am done with my project. I just need to deploy it .

[2022-04-06 16:20] shrutiverma13 commented on #285
@gurjeetsinghvirdee can you assign the issue to me.

[2022-04-06 16:27] purnimakatiyar opened #288 "Title: Top recommendation bar and sidebar in Youtube clone"
### Is your feature request related to a problem? Please describe.

There are some sections in the Youtube clone which are not upto-date , so I will make them more like the original one according to the current updated version
![1649261245279](https://user-images.githubusercontent.com/75112217/162020447-8d5d43a4-1bc3-4451-b44a-5315715d6a10.jpg)
.

### Describe the solution you'd like.

I will add

[2022-04-06 16:39] #259 closed

[2022-04-06 16:41] Adbnemesis opened #289 "Title: Proper Styling microsoft teams clone"
### Is your feature request related to a problem? Please describe.

The fonts and styles arent accurate to the real app.

### Describe the solution you'd like.

I would style it with proper fonts and better padding with proper margins.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

![Screenshot (real)](https:/

[2022-04-06 16:42] Adbnemesis commented on #289
@gurjeetsinghvirdee please assign me this issue

[2022-04-06 17:12] Akshata-Gunapache commented on #239
@gurjeetsinghvirdee How to I go ahead with this step ? Please guide.

[2022-04-06 19:54] gurjeetsinghvirdee commented on #239
@Akshata-Gunapache sorry I didn't I have my exams going on so little bit busy
deploy with vercel it will automatically deploy your project

just signup and connect your Github repo after that choose the project repo you want to deploy then hit the deploy button in 2-3 mins deployed site ready.

[2022-04-06 19:55] gurjeetsinghvirdee commented on #239
if you direct add wordle clone here then make a new repo and push all code after that deploy with vercel

[2022-04-07 07:04] shrutiverma13 opened #291 "Title: Login page connectivity FACEBOOK CLONE"
### Is your feature request related to a problem? Please describe.

The connectivity of the login page hasn't been done with the main site page.

### Describe the solution you'd like.

I intent to connect the two pages and make it possible to login using any email id or phone number.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the fe

[2022-04-07 07:12] #285 closed

[2022-04-07 07:13] gurjeetsinghvirdee commented on #291
Assigned to u @shrutiverma13

[2022-04-07 09:01] #188 closed

[2022-04-07 09:41] #291 closed

[2022-04-07 11:34] #288 closed

[2022-04-07 11:56] purnimakatiyar opened #294 "Title: Add footer section in Zomato Homepage Clone"
### Is your feature request related to a problem? Please describe.

The footer section in Zomato Homepage Clone is not present.

### Describe the solution you'd like.

I will add the footer section to the Zomato clone.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-04-07 11:57] purnimakatiyar commented on #294
I am a Gssoc 2022 contributor, Can you please assign this task mentioned above to me?

[2022-04-07 15:40] Akshata-Gunapache commented on #239
@gurjeetsinghvirdee  How do I add it directly here?

[2022-04-07 17:02] Rakesh9100 commented on #222
Can I work on this since it's above 1 week to be assigned to him ?

[2022-04-07 17:25] gurjeetsinghvirdee commented on #222
You can work on this @Rakesh9100

[2022-04-08 04:18] #281 closed

[2022-04-08 12:28] Akshata-Gunapache commented on #239
Yes sure that would be great . What time and date?

[2022-04-08 12:35] Akshata-Gunapache commented on #239
And could you please provide me the details about the meet? Thank You .

[2022-04-08 13:50] Akshata-Gunapache opened #297 "Design the navbar items"
### Is your feature request related to a problem? Please describe.

The items in the navbar are not designed properly. It is very simple design.
![Screenshot 2022-04-08 191716](https://user-images.githubusercontent.com/96786500/162448680-d3198341-b62c-4229-bff6-5feea42b3c7f.png)

### Describe the solution you'd like.

I would like to design it beautifully like this...
![Screenshot 2022-04-08 19190

[2022-04-08 13:51] Akshata-Gunapache commented on #297
I am a GSSoC 22 participant and would like to work on this issue. Please assign it to me.

[2022-04-08 13:51] Akshata-Gunapache commented on #297
/assign

[2022-04-08 13:55] gurjeetsinghvirdee commented on #239
You are in discord, So ping me there If someone saw this maybe they can misuse

[2022-04-08 14:05] Akshata-Gunapache commented on #239
Yes sure .

[2022-04-08 15:02] Adhetya commented on #257
Can you assign issue to me? I am GSSOC 22 contributor

[2022-04-08 15:17] gurjeetsinghvirdee commented on #257
sure @Adhetya

[2022-04-08 22:37] #297 closed

[2022-04-09 09:51] #222 closed

[2022-04-09 10:53] warriorBunny013 opened #301 "Adding a city filter option"
### Is your feature request related to a problem? Please describe.

![Screenshot (113)](https://user-images.githubusercontent.com/97738453/162568777-38e2d9f8-41fe-4d1c-a207-1610308b8a34.png)

### Describe the solution you'd like.

i want to ADD the feature of selecting different cities.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the

[2022-04-09 11:01] warriorBunny013 opened #302 "adding lists of items in flipkart clone"
### Is your feature request related to a problem? Please describe.

![Screenshot (114)](https://user-images.githubusercontent.com/97738453/162569043-cbe7e987-7e5f-4e88-aa66-093ba285303f.png)

### Describe the solution you'd like.

hovering those we'll get lists of all the items

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature

[2022-04-09 12:24] Rakesh9100 opened #304 "Modification of Instagram Clone Login Page and Merge Instagram-Clone and Login Clone in one folder"
### Is your feature request related to a problem? Please describe.

The Instagram original login page is different from this clone login in this project.

### Describe the solution you'd like.

I want to modify the Instagram Login Page clone and make it similar and same as official Instagram Login page.
I would also merge the Instagram Login page clone and Instagram Clone added by me in one folder

[2022-04-09 14:25] #239 closed

[2022-04-09 14:30] #257 closed

[2022-04-09 18:35] #182 closed

[2022-04-10 06:06] Mrjoy832 opened #307 "Chage Letter Case."
### Description

Description of the project here
It will be website where You can convert casing of any letter(Upper Case to lower or vice versa).

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-10 06:08] Mrjoy832 commented on #307
/assign

[2022-04-10 08:09] StillAbeginnerr commented on #262
Due to some problems, couldn't work much but now continuing and nav-bar completed (mobile-responsive)
![image](https://user-images.githubusercontent.com/88205668/162608916-ec7f51c4-fd9f-4e0f-8453-ce9d07266259.png)

[2022-04-10 09:36] Adhetya opened #309 "Make github clone responsive"
### What happened?

The github clone website published in this website is not mobile responsive. Also, the font does not look very good.

### How can we reproduce this bug?

Go the github clone in https://rayman-sodhi.github.io/Clone-IT/

### Desktop Information (Optional)

<img width="1440" alt="Screenshot 2022-04-10 at 3 04 05 PM" src="https://user-images.githubusercontent.com/20537150/162612029

[2022-04-10 10:24] purnimakatiyar commented on #294
/assign

[2022-04-10 14:25] VaibhavUpreti opened #311 "Spacex Landing page clone:"
### Description

This is a simple clone of spacex.com webpage made with HTML,CSS & JS which is fully responsive.

Contribution made as a GSSOC'22 participant.

![spacex](https://user-images.githubusercontent.com/85568177/162623956-e9581361-14c7-4739-ba14-6b077f8190c0.jpeg)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guideline

[2022-04-10 14:25] VaibhavUpreti commented on #311
/assign

[2022-04-10 15:14] VaibhavUpreti opened #313 "Pininterest Clone[New Issue]:"
### Description

A fully responsive pininterest clone webpage made with HTML and CSS.

![pint](https://user-images.githubusercontent.com/85568177/162626414-9a23b005-88de-4ec7-9773-1179084a1c49.jpeg)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-10 15:15] VaibhavUpreti commented on #313
/assign

[2022-04-10 16:25] gurjeetsinghvirdee commented on #304
assigned u @Rakesh9100

[2022-04-10 16:25] Rakesh9100 commented on #304
Okay Thanks

[2022-04-10 17:54] #313 closed

[2022-04-10 18:03] #16 closed

[2022-04-10 18:05] gurjeetsinghvirdee commented on #309
assigned to u @Adhetya

[2022-04-10 18:06] #304 closed

[2022-04-10 20:12] Rakesh9100 opened #316 "Title: Connectivity of Instagram Clone with its Login Page"
### Is your feature request related to a problem? Please describe.

The connectivity of the Instagram Clone main site is not done with its login clone page.

### Describe the solution you'd like.

I want to connect both the pages.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-04-11 00:19] Olaleye-Blessing opened #318 "Navbar needs modification"
### What happened?

Nav links overlap the site's title at some media queries. This is most likely to happen on Ipads since I tested this on a laptop.

![Screenshot (308)](https://user-images.githubusercontent.com/70102539/162645880-36da9985-aa26-461b-af30-37b532255b79.png)

### How can we reproduce this bug?

Go to [Clone-IT](https://rayman-sodhi.github.io/Clone-IT/), probably on a laptop.

1. On

[2022-04-11 00:41] Olaleye-Blessing opened #319 "Title: pressing enter should search/open project"
### Is your feature request related to a problem? Please describe.

I need to take my mouse to the search icon and click on it before my searched project could be opened.

### Describe the solution you'd like.

Pressing `enter button` should open the project if found.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request he

[2022-04-11 01:23] Mrjoy832 opened #320 "Wikipedia Clone"
### Description

Description of the project here
I will be going to make a Wikipedia clone using HTML5,CSS3, Javascript which will be responsive in nature.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-11 01:24] Mrjoy832 commented on #320
/assign

[2022-04-11 01:29] Mrjoy832 opened #321 "Disney Plus Clone"
### Description

**Description of the project here:**
I will be gone to make **Disney Plus** Clone using HTML,CSS, JS which will be responsive in nature.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-11 01:29] Mrjoy832 commented on #321
/assign

[2022-04-11 05:11] #320 closed

[2022-04-11 06:58] #311 closed

[2022-04-11 07:00] gurjeetsinghvirdee commented on #319
Assigned u @Olaleye-Blessing

[2022-04-11 07:01] gurjeetsinghvirdee commented on #318
Assigned to u @Olaleye-Blessing

[2022-04-11 07:01] gurjeetsinghvirdee commented on #316
Assigned to u @Rakesh9100

[2022-04-11 07:02] gurjeetsinghvirdee commented on #301
Assigned to u @warriorBunny013

[2022-04-11 07:02] gurjeetsinghvirdee commented on #302
Assigned to u @warriorBunny013

[2022-04-11 13:38] #267 closed

[2022-04-11 18:40] #309 closed

[2022-04-12 02:59] kalashvasaniya opened #329 "Title: Swiggy Clone Home page"
### Is your feature request related to a problem? Please describe.

Hey I made Swiggy Clone Project Which Is Very Good!

### Describe the solution you'd like.

This Project is very Helpfull,
I Make This Project With the help of HTML, CSS & JavaScript.

### Describe alternatives you've considered.

The CSS & JavaScript Code are Available in very well mannered! & Easy to understand!

### Add any oth

[2022-04-12 04:53] #321 closed

[2022-04-12 08:43] khushigupta123 opened #331 "Google home page clone"
### Description

I will create a google home page clone using the following tech stack:

- HTML
- CSS
- Javascript

Mockup of google clone project:

![google clone](https://user-images.githubusercontent.com/78090164/162919243-f32757f3-160b-41ab-9069-2fc23ebac837.jpg)

**I am a GSSOC 22 contributor
Please assign this issue to me**

### Code of Conduct

- [X] I follow [Contributing Guidelines](https

[2022-04-12 11:34] ayush-sleeping commented on #311
@VaibhavUpreti , without even crosschecking how you make a issue with the same content ,
SpaceX Clone #287
here I have also explain that what I am going to clone ,......................
#

I have created this issue 6 days ago , as a GSSOC participant ............ and you have make this issue 2 days ago .
which is strictly not allow in GSSOC guidelines .

#

[2022-04-12 11:58] VaibhavUpreti commented on #311
Hey @ayush-sleeping , Sorry I missed your issue.... It was unintentional & I just missed it. @gurjeetsinghvirdee ur free to remove my changes and allow him to push his project

[2022-04-12 11:59] ayush-sleeping commented on #311
thanks buddy , I was freakout after seeing this

[2022-04-12 11:59] VaibhavUpreti commented on #311
Yea I'm really sorry, Happy contributing @ayush-sleeping :)

[2022-04-12 12:00] ayush-sleeping commented on #311
and I am sorry .... because i was rude in comment ..............

[2022-04-12 16:05] StillAbeginnerr commented on #262
![image](https://user-images.githubusercontent.com/88205668/163005656-1ba66328-fe23-4e14-b2c1-ae7dcbbf0ee8.png)
![image](https://user-images.githubusercontent.com/88205668/163005727-0e1eb31d-d74a-4073-9cbf-361ef1eb1e3a.png)

Will it be okay for level 3 if i make it responsive?

[2022-04-12 16:06] StillAbeginnerr commented on #262
@Rayman-Sodhi i have nearly completed , just css for responsive design left.

[2022-04-13 01:48] Mrjoy832 opened #332 "Reebok UI Clone"
### Description

**Description of the project here:**
Added Reebok Webpage Clone using HTMl,CSS which is responsive in nature.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-13 01:48] Mrjoy832 commented on #332
/assign

[2022-04-13 04:03] #332 closed

[2022-04-13 08:19] Sulagna-Dutta-Roy opened #335 "OLX Website Clone"
### Description

This project will made using html,css,js.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-13 08:20] Sulagna-Dutta-Roy commented on #335
/assign

[2022-04-13 09:30] gurjeetsinghvirdee commented on #262
Omg just feel like real and too beautiful💗

[2022-04-13 09:30] gurjeetsinghvirdee commented on #262
Bro deploy it @StillAbeginnerr

[2022-04-13 12:30] muhammadgalhoum opened #336 "Updating the README.md file with contributor's link for this repo and Adding a section for Mentors"
### Is your feature request related to a problem? Please describe.

Yes, the README.md file is very important in any repo so I want to improve it by adding the contributor's link for this repo

### Describe the solution you'd like.

I wanna add a link to the contributor's link for this repo in the README.md file and also adding a section for Mentors

### Describe alternatives you've considered.

_

[2022-04-13 12:35] muhammadgalhoum commented on #336
**Can you please assign this issue to me @gurjeetsinghvirdee**

[2022-04-13 14:29] #307 closed

[2022-04-13 14:57] muhammadgalhoum commented on #336
Yes please assign me @gurjeetsinghvirdee

[2022-04-13 14:58] gurjeetsinghvirdee commented on #336
assigned already

[2022-04-13 15:03] muhammadgalhoum commented on #336
![s2](https://user-images.githubusercontent.com/56798376/163210535-72b958b8-67a8-45c8-b0c2-3f470963f09f.PNG)
![s1](https://user-images.githubusercontent.com/56798376/163210542-b722ea94-37c3-4489-9397-fbe31b623ed9.PNG)

You assign this issue to you and I want you to assign it to me as GSSoC @gurjeetsinghvirdee
Can you please assign it for me

[2022-04-13 15:14] StillAbeginnerr commented on #262
http://w3-schools-clone-frontend.vercel.app/
++ mobile responsive

[2022-04-13 15:21] gurjeetsinghvirdee commented on #336
Oh sorry 😅

[2022-04-13 15:23] StillAbeginnerr commented on #262
![image](https://user-images.githubusercontent.com/88205668/163214725-939607a7-c4fd-4664-b802-260381d9d93c.png)

i hope it will get level 3 because it is also mobile responsive

[2022-04-13 17:16] VaibhavUpreti opened #338 "Add zara website clone"
### Description

It will be a responsive clone of zara made with pure HTML , CSS & JS

Contribution made under GSSOC'22

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-13 17:16] VaibhavUpreti commented on #338
/assign

[2022-04-13 17:38] Priyanshi136 opened #339 "Google Meet Clone"
### Description

As we all know about the google meet app, one of the best app for online meetings and video conferencing. Hence as an gssoc'22 contributor, i want to work on this app clone.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-13 21:11] gurjeetsinghvirdee commented on #262
bro why close this I'm lit busy that's y I didn't check @StillAbeginnerr

[2022-04-13 21:12] gurjeetsinghvirdee commented on #262
I'm Mentor, contributor even a Tech team member I have to see all things and I have also

[2022-04-13 21:13] gurjeetsinghvirdee commented on #262
Hehe I didn't see

[2022-04-13 21:13] #262 closed

[2022-04-13 21:13] #294 closed

[2022-04-13 21:15] #318 closed

[2022-04-13 21:15] StillAbeginnerr opened #342 "Tumblr clone"
### Description

I wanna make a clone of tumblr.com landing page -> https://www.tumblr.com/explore/trending
![image](https://user-images.githubusercontent.com/88205668/163271793-141405b3-ea12-481e-af57-94a61a6a3229.png)

I will make it awesome with - responsive design , good  visuals and interacting buttons like original site.

I am a gssoc participant and my tech stack will be  html , css and rea

[2022-04-13 21:22] StillAbeginnerr commented on #342
please assign me this project

[2022-04-13 22:35] StillAbeginnerr commented on #342
/assign

[2022-04-14 00:45] #336 closed

[2022-04-14 03:44] ayush-sleeping opened #343 "Nasa Landing Page - Clone"
### Description

I will try my best to make clone of " NASA " landing page Clone ,
With the use Html, CSS and JS ,
This will help me to enhance my frontend skills.

#

Hey Mentor and Admin ,
I want to work on this issue under @GSSOC'22 ,

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-14 03:44] ayush-sleeping commented on #343
/assign

[2022-04-14 04:44] #338 closed

[2022-04-14 07:36] StillAbeginnerr commented on #262
No problem , i thought i could reduce your work of closing an issue.

[2022-04-14 14:10] RAHULBAWA777 opened #344 "[New Issue]: google home page ui"
### Description

Description of the project here - i'll be adding google homepage UI

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-15 05:39] khushigupta123 commented on #331
I am closing this issue because such a project already exists

[2022-04-15 05:39] #331 closed

[2022-04-15 06:55] khushigupta123 opened #345 "Google Classroom Clone"
### Description

I want to create a google classroom clone using the following tech stack:

- HTML
- CSS
- Javascript

I am a GSSOC 22 contributor,
kindly assign me this issue.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-15 08:09] GaganpreetKaurKalsi opened #346 "The navbar and footer of FAQ page aren't consistent with that of Homepage"
### What happened?

The navbar and footer CSS is distorted on FAQ page, also the hover functionality, font-weight, size are not consistent with that of the Homepage.

Homepage Navbar Footer : -
![image](https://user-images.githubusercontent.com/54144759/163543891-81d3c7c5-af78-48db-ad4d-d145b70f7d1a.png)
![image](https://user-images.githubusercontent.com/54144759/163543946-44a9ffd2-7715-49bf-b514-

[2022-04-15 08:10] GaganpreetKaurKalsi commented on #346
Kindly assign me this issue under Gssoc 2022 contribution

[2022-04-15 16:32] StillAbeginnerr commented on #342
@gurjeetsinghvirdee bro , can you please add a pinned label to prevent unassigning , because it would take me more  than 7 days to make a same clone with some extra features of my own.

[2022-04-15 16:34] gurjeetsinghvirdee commented on #342
Ok I will pin you if github action remove you

[2022-04-15 16:35] gurjeetsinghvirdee commented on #342
Now it will be ok

[2022-04-15 21:56] #343 closed

[2022-04-15 21:56] gurjeetsinghvirdee commented on #345
Assigned u @khushigupta123

[2022-04-15 21:57] gurjeetsinghvirdee commented on #346
Assigned u @GaganpreetKaurKalsi

[2022-04-15 21:59] gurjeetsinghvirdee commented on #344
@RAHULBAWA777 google clone is already here, so make something unique, before making Issue Plz check it, If it has existed on the repo or not at this time I'm closing this issue

[2022-04-15 21:59] #344 closed

[2022-04-15 22:00] gurjeetsinghvirdee commented on #339
Assigned u @Priyanshi136

[2022-04-15 22:00] gurjeetsinghvirdee commented on #329
assigned u @kalashvasaniya

[2022-04-15 22:01] #287 closed

[2022-04-15 22:02] #150 closed

[2022-04-15 22:03] gurjeetsinghvirdee commented on #48
No response from contributor so I'm closing this issue

[2022-04-15 22:03] #48 closed

[2022-04-15 22:05] #242 closed

[2022-04-16 03:58] Sukriti-m opened #349 "SpaceX HomePage Clone"
### Description

I want to create a SpaceX HomePage Clone using the following tech stack:

- HTML

- CSS

- Javascript

I'd be grateful if you could assign this task to me under GSSoC22.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-16 06:21] Rayman-Sodhi opened #350 "Links not working"
### What happened?

The links for  amazon ,gmail and windows 11 Clone are not working

### How can we reproduce this bug?

@gurjeetsinghvirdee  Kindly add the links

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

_No response_

[2022-04-16 06:27] gurjeetsinghvirdee commented on #350
/assign

[2022-04-16 06:27] gurjeetsinghvirdee commented on #350
Not deployed that's y not working

[2022-04-16 07:38] AnIkeT126 opened #351 "Youtube Music Clone"
### Is your feature request related to a problem? Please describe.

Youtube Music Clone as suggested by the name is a clone for youtube music.

### Describe the solution you'd like.

HTML5, CSS3, JS usage in doing so.

### Describe alternatives you've considered.

None

### Add any other context or screenshots about the feature request here.

None

[2022-04-16 07:38] AnIkeT126 commented on #351
/assign

[2022-04-16 07:46] AnIkeT126 opened #352 "Typing Master Clone"
### Is your feature request related to a problem? Please describe.

Typing Master Clone

### Describe the solution you'd like.

A web app using HT,L5, CSS3, JS.

### Describe alternatives you've considered.

None

### Add any other context or screenshots about the feature request here.

None

[2022-04-16 07:46] AnIkeT126 commented on #352
/assign

[2022-04-16 12:53] VaibhavUpreti opened #355 "Add more website cards in the clone it website"
### Description

Many of the new projects added here are not available on the main website (https://rayman-sodhi.github.io/Clone-IT/)

I would like to add the new projects on the website.... under GSSOC'22 kindly assign me this issue.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-16 12:53] VaibhavUpreti commented on #355
/assign

[2022-04-16 12:54] VaibhavUpreti commented on #355
Some of the missing projects are
- wikipedia homepage
- w3 fronted
- whatsapp ui clone

And many more.....

[2022-04-16 15:59] SarthakSKumar opened #358 "[New Issue]: To add codechef homepage clone"
### Description

I would like to add the CodeChef Homepage Clone to the repo.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-16 16:01] #355 closed

[2022-04-16 16:59] Divya2163 opened #359 "Adding clone of pinterest website"
### Description

I would like to create a clone of Pinterest with HTML, CSS, and Javascript. I would like to work on this under gssoc'22.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-16 18:16] #351 closed

[2022-04-16 19:16] gurjeetsinghvirdee commented on #359
Assigned u @Divya2163

[2022-04-16 19:16] gurjeetsinghvirdee commented on #358
Assigned u @SarthakSKumar

[2022-04-16 19:20] gurjeetsinghvirdee commented on #349
@Sukriti-m assigned to u

[2022-04-16 19:26] gurjeetsinghvirdee opened #361 "Add Behance Clone"
### Description

Behance Clone with react js

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-16 19:27] gurjeetsinghvirdee commented on #361
/assign

[2022-04-16 19:27] gurjeetsinghvirdee opened #362 "Add dribble Clone"
### Description

Dribble Clone with React js

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-16 19:28] gurjeetsinghvirdee commented on #362
/assign

[2022-04-16 22:03] #346 closed

[2022-04-17 03:41] VaibhavUpreti commented on #359
There is already a clone of pinterest in the project list
https://github.com/Rayman-Sodhi/Clone-IT/tree/main/pinterest
@Divya2163
@gurjeetsinghvirdee

[2022-04-17 03:52] VaibhavUpreti commented on #350
Gmail - (https://fluffy-mousse-bedaef.netlify.app/)...... here u can add this one
Windows 11 - (https://windows-11-static.netlify.app/)..... this one is working before
And I tried hosting the amazon clone it was giving some build error

@gurjeetsinghvirdee

[2022-04-17 04:41] VaibhavUpreti opened #364 "Reduce size of project by using images on cloud rather than in assets folder"
### Is your feature request related to a problem? Please describe.

I think we should remove heavy images and logos that we use for our websites and rather just use links in the code base

### Describe the solution you'd like.

I want to remove the assets of my projects (pint. and zara clone) and replace then with links.

And also advice new contributors to follow the same....

### Describe altern

[2022-04-17 04:43] VaibhavUpreti commented on #364
/assign

[2022-04-17 05:00] gurjeetsinghvirdee commented on #350
Thanks for this I will do something for amazon

[2022-04-17 05:06] gurjeetsinghvirdee commented on #364
You can resduce the size by imgbot also

[2022-04-17 05:07] gurjeetsinghvirdee commented on #359
Ohk I forgot

[2022-04-17 05:07] #359 closed

[2022-04-17 10:55] Divya2163 opened #366 "Medium UI clone"
### Description

A clone of the blogging website Medium. Clone of the homepage of Medium website using HTML and CSS. CLone of the below-given website. I don't have a working model but I can work on it under gssoc'22.
![Screenshot 2022-04-17 162349](https://user-images.githubusercontent.com/76438709/163711399-58367d6c-2243-4bda-bbc3-dbd8bbb94de2.png)

### Code of Conduct

- [X] I follow [Contributi

[2022-04-17 10:55] Divya2163 commented on #366
Kindly assign me this under gssoc'22.

[2022-04-17 14:22] SarthakSKumar commented on #358
Thank you @gurjeetsinghvirdee

[2022-04-17 14:22] #358 closed

[2022-04-17 15:50] dsasaank-369 opened #367 "Freshworks Clone"
I am a gssoc'22 contributor. I want to contribute to this repository.

[2022-04-17 21:15] #256 closed

[2022-04-17 21:30] kalashvasaniya commented on #118
@gurjeetsinghvirdee can you pls. assign this to me beacause no one is working on that!

[2022-04-17 21:31] kalashvasaniya opened #368 "[New Issue]: Instagram clone for website"
### Description

Hey I made Instagram clone Which Is Very Good!

This Project is very Helpfull,
I Make This Project With the help of HTML, CSS & JavaScript.

The CSS & JavaScript Code are Available in very well mannered! & Easy to understand!

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-18 05:02] gurjeetsinghvirdee commented on #118
Assigned to u @kalashvasaniya

[2022-04-18 18:05] Rayman-Sodhi opened #371 "Title: Add Images for modals in website"
### Is your feature request related to a problem? Please describe.

 Add  new cover image for whatsapp ui ,zara ,wikipedia and zomato clone

### Describe the solution you'd like.

Add new images and add screenshots before making a pr

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-04-18 19:13] #349 closed

[2022-04-19 04:54] Sukriti-m opened #373 "NVIDIA HomePage Clone"
### Description

I want to create a NVIDIA HomePage Clone using the following tech stack:

HTML

CSS

Javascript

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-19 04:54] Sukriti-m commented on #373
/assign

[2022-04-19 05:46] gurjeetsinghvirdee commented on #366
@Divya2163 assigned to u

[2022-04-19 05:47] gurjeetsinghvirdee commented on #367
@dsasaank-369 assigned to u

[2022-04-19 05:47] gurjeetsinghvirdee commented on #368
It's already there

[2022-04-19 05:47] #368 closed

[2022-04-19 09:44] aaryahjolia commented on #371
Can I work on this under GSSoC ?

[2022-04-19 09:46] aaryahjolia commented on #189
Can I work on this under GSSoC ?

[2022-04-19 12:16] gurjeetsinghvirdee commented on #189
@aaryahjolia assigned to u

[2022-04-19 14:35] eswarbhageerath opened #375 "Ola Website Clone"
### Description

Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Clone Of Ola Website

The idea behind this project
This is a very mini project which looks similar to the famous cabs website OLA

Please refer to the images below:
![ss1](https://user-images.githubusercontent.com/76146796/164028862-dc61adc9-bd92-4ce9-a7a9-6b0b6a5ea3d8.pn

[2022-04-19 17:31] Sulagna-Dutta-Roy opened #377 "HackerRank Clone"
### Description

I will be creating hackerrank clone using html,css

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-19 17:32] Sulagna-Dutta-Roy commented on #377
/assign

[2022-04-19 17:58] Rayman-Sodhi commented on #371
@aaryahjolia  assigned u

[2022-04-19 17:59] #367 closed

[2022-04-19 18:02] Rayman-Sodhi opened #378 "Add all clones alphabetically in readme"
In total there are 59 clones folders . If there are others too Count and add in readme

[2022-04-20 01:37] dsasaank-369 opened #379 "Hindustan Petroleum Clone"
I am a GSSOC'22 contributor and I want to contribute to this repository.

[2022-04-20 08:41] SupriyaGembali opened #380 "Google Shopping Website Clone"
### Description

Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Clone Of Google Shopping Website

The idea behind this project
This is a very mini project which looks similar to the famous shopping website Google Shopping.

Please refer to the images below:
![ss1](https://user-images.githubusercontent.com/94470209/164187801-7d0dc515-6

[2022-04-20 09:10] SupriyaGembali opened #382 "Amazon Prime Home Page Clone"
### Description

Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Amazon Prime Home Page Clone

The idea behind this project
This is a very mini project which looks similar to the famous OTT streaming website Amazon Prime.
Please refer to the images below:

![ss1](https://user-images.githubusercontent.com/94470209/164193498-0e34bffe-683

[2022-04-20 15:18] #319 closed

[2022-04-20 15:30] SupriyaGembali commented on #382
@Rayman-Sodhi Please Check my PR regarding this issue
Thank you sir

[2022-04-20 15:58] SupriyaGembali opened #384 "Food Panda Website Clone"
### Description

Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Food Panda Website Clone

### The idea behind this project
This is a well Known Food ordering Website
Please refer to the images below:
<img width="1245" alt="ss1" src="https://user-images.githubusercontent.com/94470209/164272820-07b3c91e-1a6f-4d20-949a-f7f6bab0363b.png">

[2022-04-20 16:25] gurjeetsinghvirdee commented on #378
/assign

[2022-04-20 16:26] gurjeetsinghvirdee commented on #375
#376

[2022-04-20 16:26] #375 closed

[2022-04-20 16:28] gurjeetsinghvirdee commented on #382
@SupriyaGembali you can't make a PR without assigning

What to do now @Rayman-Sodhi

[2022-04-20 16:29] gurjeetsinghvirdee commented on #379
Assigned u @dsasaank-369

[2022-04-20 16:34] SupriyaGembali commented on #382
Sorry for the inconvenience sir can i close it and reopen it again sir @gurjeetsinghvirdee @Rayman-Sodhi ?

[2022-04-20 16:35] #247 closed

[2022-04-20 16:35] #283 closed

[2022-04-20 17:08] gurjeetsinghvirdee commented on #382
Leave it, don't do from next time

[2022-04-20 17:10] SupriyaGembali commented on #382
ok sir Thank you

[2022-04-21 00:32] #377 closed

[2022-04-21 00:33] #189 closed

[2022-04-21 18:10] eswarbhageerath opened #391 "Rapido Bike Taxi Website Clone"
### Description

Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Clone Of Rapido Bike Taxi Website

The idea behind this project
This is a very mini project which looks similar to the famous Website Rapido Bike Taxi .

Please refer to the images below:
![ss1](https://user-images.githubusercontent.com/76146796/164525217-54794c7c-33fe-47

[2022-04-21 18:18] #329 closed

[2022-04-21 18:18] #118 closed

[2022-04-21 18:42] SupriyaGembali opened #392 "Paytm Website Clone"
### Description

Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Paytm Website Clone

The idea behind this project
This is a well Known Payment Website
Please refer to the images below:
<img width="960" alt="sss1" src="https://user-images.githubusercontent.com/94470209/164531160-c11ee7b3-0f2e-425e-8b35-23a238db609d.png">
<img width="96

[2022-04-22 04:30] eswarbhageerath opened #393 "Ikea Website Clone"
### Description

Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Clone Of Ikea Website

The idea behind this project
This is a very mini project which looks similar to the famous Website Ikea Furnitures

Please refer to the images below:
![ss1](https://user-images.githubusercontent.com/76146796/164602683-4ce0fc1c-06c1-4e74-9689-ec76538

[2022-04-22 05:36] SupriyaGembali opened #394 "Girlscript Summer Of Code(GSSoC) Website Clone"
### Description

Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Girlscript Summer Of Code(GSSoC) Website Clone.

The idea behind this project
This is a well Known Beginner Friendly Open Source Contribution Initiative Girlscript Summer Of Code(GSSoC).
Please refer to the images below:
<img width="955" alt="ss1" src="https://user-images

[2022-04-22 14:59] StillAbeginnerr opened #397 "Bumble Website Clone"
### Description

https://bumble.com/en-in/    I want to clone this website , I will make an exact clone of it and mobile responsive version.

I will make it in HTML,CSS and JS.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-22 14:59] StillAbeginnerr commented on #397
/assign

[2022-04-22 21:18] #380 closed

[2022-04-22 21:18] #384 closed

[2022-04-22 21:19] #379 closed

[2022-04-22 21:19] gurjeetsinghvirdee commented on #391
Assigned u @eswarbhageerath

[2022-04-22 21:21] gurjeetsinghvirdee commented on #394
Assigned u @SupriyaGembali

[2022-04-22 21:21] gurjeetsinghvirdee commented on #393
Assigned u @eswarbhageerath

[2022-04-22 21:22] gurjeetsinghvirdee commented on #392
Assigned u @SupriyaGembali

[2022-04-22 21:23] #289 closed

[2022-04-22 21:24] gurjeetsinghvirdee commented on #364
#365

[2022-04-22 21:24] #364 closed

[2022-04-23 06:06] #378 closed

[2022-04-23 08:45] SupriyaGembali opened #400 "Telegram Website Clone"
**Project title**
Telegram Website UI Clone

**Project Description**
This is the Clone of Telegram Website

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript
- [x] ReactJS

[2022-04-23 09:56] shr-code opened #401 "PayPal Clone"
### Description

I'm a GSSOC Contributor and I would like to clone PayPal website

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-23 11:09] SupriyaGembali opened #402 "Telegram Website Clone"
### Description

**Project title**
Telegram Website UI Clone

**Project Description**
This is the Clone of Telegram Website

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript
- [x] ReactJS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-23 11:09] #400 closed

[2022-04-23 12:02] eswarbhageerath opened #403 "Fueler Website UI Clone"
### Description

**Project title**
Fueler Website UI Clone

**Description**
Fueler Creates Profiles

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript
- [x] ReactJS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-23 12:05] eswarbhageerath opened #404 "Moralis Website UI Clone"

[2022-04-23 12:14] SupriyaGembali opened #405 "Jet Brains Website Clone"
### Description

**Project title**
Jetbrains Website UI Clone

**Description**
It will ensure that it always has a smooth and enjoyable experience when building and shipping your code planning and collaborating your work

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript
- [x] ReactJS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contributi

[2022-04-23 12:30] SupriyaGembali opened #406 "HackerEarth Website Clone"
### Description

Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Clone Of Hacker Earth Website

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript
- [x] ReactJS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-23 13:33] SupriyaGembali opened #407 "Leetcode Website Clone"
### Description

**Project title**
LeetCode Website Clone

**Description**
LeetCode is the best platform to help you enhance your skills, expand your knowledge and prepare for technical interviews.

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript
- [x] ReactJS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this

[2022-04-23 13:55] shr-code commented on #401
/assign

[2022-04-23 16:46] #352 closed

[2022-04-23 18:15] Kumar-Ankit56 opened #409 "Groww investement website clone ."
### Description
Hii I'm a GSSoc22 contributor and I want to add this clone of the investing website Groww. Clone of the homepage of Medium website using HTML and CSS. CLone of the below-given website.

### Screenshot
![Screenshot (143)](https://user-images.githubusercontent.com/73521123/164934522-b05b3367-0b82-4631-8015-0668cac95427.png)
![Screenshot (144)](https://user-images.githubusercontent.co

[2022-04-23 18:40] Kumar-Ankit56 commented on #409
[GSSoc22](url)

[2022-04-23 19:55] gurjeetsinghvirdee opened #410 "Important ⚠️"
Use this **`/assign`** to auto-assign yourself

[2022-04-23 19:57] gurjeetsinghvirdee commented on #402
Assigned u @SupriyaGembali

[2022-04-23 19:58] gurjeetsinghvirdee commented on #403
Assigned u @eswarbhageerath

[2022-04-23 19:58] gurjeetsinghvirdee commented on #404
Assigned u @eswarbhageerath

[2022-04-23 19:58] gurjeetsinghvirdee commented on #405
Assigned u @SupriyaGembali

[2022-04-23 19:59] gurjeetsinghvirdee commented on #406
Assigned u @SupriyaGembali

[2022-04-23 19:59] gurjeetsinghvirdee commented on #407
Assigned u @SupriyaGembali

[2022-04-23 20:00] gurjeetsinghvirdee commented on #409
Assigned u @Kumar-Ankit56

[2022-04-23 20:04] #335 closed

[2022-04-25 06:16] #394 closed

[2022-04-25 13:12] #391 closed

[2022-04-25 18:48] Rayman-Sodhi commented on #407
hey, @SupriyaGembali  this website clone has been found to be under plagiarised content by the team.If you  have any proof of it being genuine kindly share the proof ,otherwise this will be labeled invalid

[2022-04-25 18:48] Rayman-Sodhi commented on #392
hey, @SupriyaGembali this website clone has been found to be under plagiarised content by the team.If you have any proof of it being genuine kindly share the proof ,otherwise this will be labeled invalid

[2022-04-25 18:50] Rayman-Sodhi commented on #394
hey, @SupriyaGembali this website clone has been found to be under plagiarised content by the team.If you have any proof of it being genuine kindly share the proof ,otherwise this will be labeled invalid

[2022-04-25 18:50] Rayman-Sodhi commented on #384
hey, @SupriyaGembali this website clone has been found to be under plagiarised content by the team.If you have any proof of it being genuine kindly share the proof ,otherwise this will be labeled invalid

[2022-04-25 18:51] Rayman-Sodhi commented on #382
hey, @SupriyaGembali this website clone has been found to be under plagiarised content by the team.If you have any proof of it being genuine kindly share the proof ,otherwise this will be labeled invalid

[2022-04-25 18:51] Rayman-Sodhi commented on #380
hey, @SupriyaGembali this website clone has been found to be under plagiarised content by the team.If you have any proof of it being genuine kindly share the proof ,otherwise this will be labeled invalid

[2022-04-25 23:49] StillAbeginnerr commented on #342
![image](https://user-images.githubusercontent.com/88205668/165192460-2f06ece0-c7bf-41ea-8fc5-9a4da9e012b8.png)
@gurjeetsinghvirdee is it okay bro ?

[2022-04-25 23:51] StillAbeginnerr commented on #342
I couldn't get gather the backend data. is it okay for level3 pull request with mobile responsive design

[2022-04-26 05:32] StillAbeginnerr commented on #342
https://tumblr-clone-one.vercel.app/

[2022-04-26 09:02] gurjeetsinghvirdee commented on #342
bro if you can't fetch data from the backend or JSON file then better to write it in the frontend in js files, that looks better

[2022-04-26 09:36] StillAbeginnerr commented on #342
okay bro

[2022-04-26 09:53] whiteHatpro commented on #405
@SupriyaGembali update?

[2022-04-26 09:53] whiteHatpro commented on #339
@Priyanshi136 update?

[2022-04-26 10:53] SupriyaGembali commented on #405
@whiteHatpro Please review my PR

[2022-04-26 14:38] Priyanshi136 commented on #339
Sorry, for the delay. My exams were going on. So not able to give the time. I will raise it agian once i am ready. Thank you.

[2022-04-26 14:39] #339 closed

[2022-04-26 19:06] #373 closed

[2022-04-26 19:07] #371 closed

[2022-04-26 19:08] #350 closed

[2022-04-26 19:09] #63 closed

[2022-04-26 19:10] #132 closed

[2022-04-26 19:11] #153 closed

[2022-04-26 19:11] #176 closed

[2022-04-26 19:12] Rayman-Sodhi commented on #190
@priyanshi-2001  are you working on this?

[2022-04-26 19:12] gurjeetsinghvirdee commented on #132
are me PR bnara tha😒

[2022-04-26 19:12] #205 closed

[2022-04-26 19:12] #215 closed

[2022-04-26 19:12] #284 closed

[2022-04-26 19:13] Rayman-Sodhi commented on #302
@warriorBunny013  are you working on this?

[2022-04-26 19:13] Rayman-Sodhi commented on #301
@warriorBunny013 are you working on this?

[2022-04-27 13:14] SupriyaGembali commented on #384
@Rayman-Sodhi This project was made as a team work in our semester academics project where we are required to make the websites as they are...This is not plagiarized , it was written by the team as a part of work

[2022-04-27 16:37] gurjeetsinghvirdee commented on #384
Let me clear one thing, In Tier 3 colleges you can't learn about Javascript or Front End Development & even college doesn't ask you to make a project like these cloning websites, if you have proof you make in college as a project or assignment attach here either all your PR goes to invalid

We are in college, we know that HTML, CSS & JavaScript is not a part of the course and they didn't ask you t

[2022-04-28 08:04] whiteHatpro commented on #409
@Kumar-Ankit56 update?

[2022-04-28 08:09] whiteHatpro commented on #401
@shr-code update?

[2022-04-28 08:09] whiteHatpro commented on #361
@gurjeetsinghvirdee update?

[2022-04-28 08:10] whiteHatpro commented on #190
@priyanshi-2001 update?

[2022-04-28 08:10] whiteHatpro commented on #345
@khushigupta123 update?

[2022-04-28 08:11] whiteHatpro commented on #407
@SupriyaGembali please give the update or we'll close the issue

[2022-04-28 08:14] gurjeetsinghvirdee commented on #407
@whiteHatpro already merged

[2022-04-28 08:14] #407 closed

[2022-04-28 08:19] whiteHatpro commented on #407
@gurjeetsinghvirdee this issue was the not closed so i didn't get it right

[2022-04-28 09:38] gurjeetsinghvirdee commented on #361
Bro u are not a mentor anymore on this project so better to not comment on any issues or PR

[2022-04-28 09:39] shr-code commented on #401
Actually I have a little busy schedule and need some more time. Sorry for the delay.

[2022-04-28 13:16] dsasaank-369 opened #418 "Plantix clone"

[2022-04-28 15:13] Kumar-Ankit56 commented on #409
@whiteHatpro yeah it's on the way plz allow me some day I will soon create a PRs for this issue.

[2022-04-28 15:29] khushigupta123 commented on #345
@

Sorry for the delay, actually my sessional exams are going on, but I will create a pull request for this issue in 2-3 days for sure

[2022-04-28 20:42] nouraan-ahmed opened #419 "Type Writer Effect"
### Description

A simple type writer built using HTMl,CSS and Javascript.when clicking the button the title words are typed with type writer effect.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-28 21:02] #419 closed

[2022-04-30 12:18] Adhetya opened #422 "Make changes to the website"
### What happened?

A lot of content seems to be compressed in the website not giving it a very good look. I would like to add some padding and spacing in general website. I would also like to add animations on scrolling as well as make the contact form more visually appealing.

### How can we reproduce this bug?

Visit the website

### Desktop Information (Optional)

_No response_

### Urgency (O

[2022-04-30 12:18] Adhetya commented on #422
/assign

[2022-04-30 16:09] Sulagna-Dutta-Roy opened #423 "Google Maps Clone"
### Description

I will be creating google maps clone using html,css, javascript. Also I will use mapbox Api. It will be responsive and user friendly.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-04-30 16:09] Sulagna-Dutta-Roy commented on #423
/assign

[2022-05-01 04:39] sohan2503001 opened #426 "Zerodha Website Clone"
### Description

Zerodha Clone with HTML, CSS and JavaScript
https://zerodha.com/

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-01 04:40] sohan2503001 commented on #426
/assign

[2022-05-01 08:51] #393 closed

[2022-05-01 10:55] whiteHatpro commented on #361
I talked to the technical lead man
I am in the clan

[2022-05-01 13:10] #423 closed

[2022-05-01 13:34] #403 closed

[2022-05-02 15:10] #361 closed

[2022-05-02 18:18] #362 closed

[2022-05-03 05:08] Ashish4321-hub opened #429 "Images aren't visible in Zara clone"
### What happened?

Hello,I am gssoc contributor and I find one issue in Zara clone.There is two images which are not visible.So i want to work on it.

![Screenshot_2022-05-03-10-21-40-47_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/88235823/166406645-e7f8bc26-6a2d-423e-a8e6-f36c6fc4f673.jpg)

### How can we reproduce this bug?

There may be problem of location of im

[2022-05-03 05:09] Ashish4321-hub commented on #429
/assign

[2022-05-03 10:17] #190 closed

[2022-05-03 11:13] Ashish4321-hub opened #432 "Title: Add weather clone"
### Is your feature request related to a problem? Please describe.

I am gssoc contributor and want to add weather clone in project.

### Describe the solution you'd like.

This clone is made by help of html , css and javascript,api

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-05-03 11:13] Ashish4321-hub commented on #432
/assign

[2022-05-03 12:00] #405 closed

[2022-05-03 12:02] #406 closed

[2022-05-03 12:05] #402 closed

[2022-05-03 13:35] #429 closed

[2022-05-03 15:37] #422 closed

[2022-05-04 14:00] RAHULBAWA777 opened #435 "[New Issue]: CNN website"
### Description

Description of the project here:  official CNN news website clone

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-05 04:25] sohan2503001 opened #436 "Redesigned Footer in Hulu Website"
### Is your feature request related to a problem? Please describe.

![Screenshot (361)](https://user-images.githubusercontent.com/69068073/166863004-5c851492-2d4a-4194-b36c-7301565317e7.png)
Links below social sites are missing in website

### Describe the solution you'd like.

I want to add below sites

### Describe alternatives you've considered.

_No response_

### Add any other context or scre

[2022-05-05 04:26] sohan2503001 commented on #436
/assign

[2022-05-05 13:33] Akshata-Gunapache opened #438 "Chess Game"
### Description

Chess Game using HTML ,CSS and Javascript.
![Screenshot 2022-05-05 190249](https://user-images.githubusercontent.com/96786500/166934281-f5133960-f83d-4cf9-89fd-6f364464c1b2.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-05 13:33] Akshata-Gunapache commented on #438
/assign

[2022-05-05 13:40] Akshata-Gunapache opened #439 "Wrong description of Wordle Clone"
### What happened?

The description of the Wordle Game Clone is wrong . It is about wikipedia and not wordle.
![Screenshot 2022-05-05 190947](https://user-images.githubusercontent.com/96786500/166935626-48685dc1-7932-4a48-a26f-c9f21d0c87f6.png)

### How can we reproduce this bug?

Change the description.

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

_No response_

[2022-05-05 13:40] Akshata-Gunapache commented on #439
/assign

[2022-05-05 16:16] #439 closed

[2022-05-05 17:45] sampavaranasi commented on #224
@Rayman-Sodhi @gurjeetsinghvirdee
 https://github.com/surajm-333/Ace-The-FrontEnd/issues/273,

[2022-05-05 18:16] sampavaranasi commented on #224
@Rayman-Sodhi Take care in repeat ishues

[2022-05-05 18:19] gurjeetsinghvirdee commented on #224
thnku but apko ek baat pta ni shyd jo aap link dere h usme se labels hat gye h unke points add ni hue h or dusri baat ek project rhega aur jada hi taklif hai to complain krle mrko koi issue nhi h, jaiye ticket raise kre

[2022-05-05 18:33] #404 closed

[2022-05-05 18:47] sampavaranasi commented on #60
@Rayman-Sodhi https://github.com/khushi-purwar/WebDev-ProjectKart/issues/403

[2022-05-06 02:23] sampavaranasi commented on #224
@Rayman-Sodhi A doubt. Contrinutor itself adds level label theyselfes?

[2022-05-06 02:28] gurjeetsinghvirdee commented on #224
Collaborator can do

[2022-05-06 02:28] gurjeetsinghvirdee commented on #224
If PA or mentor not active

[2022-05-06 02:29] gurjeetsinghvirdee commented on #224
And after sometime I remove the labels that's y I said you can complain it if you have issues with me

[2022-05-06 02:35] gurjeetsinghvirdee commented on #224
@sampavaranasi and haa ye jitne bhi links idhr udhr chipka re ho usse kpi fyda ni ye labels htane wale kaam me khud kr chuka har ek repo se

[2022-05-06 17:48] dewanshiPaul opened #441 "Add wix ecommerce website home page clone"
### Description

I will provide wix ecommerce website clone of home page.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-06 17:48] dewanshiPaul commented on #441
./assign

[2022-05-06 17:49] dewanshiPaul commented on #441
/assign

[2022-05-07 14:19] #436 closed

[2022-05-07 14:19] #418 closed

[2022-05-07 14:20] #392 closed

[2022-05-07 17:00] sohan2503001 opened #444 "Add Certify page in Hackerrank clone"
### Is your feature request related to a problem? Please describe.

certification page is not present in hacker rank clone

### Describe the solution you'd like.

I want to add certify page
![HackerRank](https://user-images.githubusercontent.com/69068073/167264330-0e1e8701-6e09-4c89-a2a3-ace36a5feeed.png)

### Describe alternatives you've considered.

_No response_

### Add any other context or sc

[2022-05-07 17:00] sohan2503001 commented on #444
/assign

[2022-05-07 18:51] #426 closed

[2022-05-07 18:56] Rayman-Sodhi opened #445 "Add all clones in the Readme file in the available clones section ."
Arrange all the clones alphabetically with proper links . This image shows the table where all clones have to be added
![Screenshot 2022-05-08 002515](https://user-images.githubusercontent.com/65675692/167268110-d1394487-fe35-4a6f-b4ae-f32bcb5027f7.png)

[2022-05-08 09:04] DragonUncaged opened #447 "Uber Clone"
### Description

This Is Uber clone.

- [x] HTML
- [x] CSS
- [x] JS

![image](https://user-images.githubusercontent.com/72241207/167288056-13052879-97ee-4b4f-b5c4-eeb6bdb6f1f3.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-08 09:05] DragonUncaged commented on #447
/assign

[2022-05-08 09:13] DragonUncaged opened #449 "Tesla Car Clone"
### Description

Its just the Car Only.
- [x]  html

- [x] css

![image](https://user-images.githubusercontent.com/72241207/167289577-e0cf6ec6-64a4-4dd9-bac0-60fef7a727b8.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-08 09:13] DragonUncaged commented on #449
/assign

[2022-05-08 09:21] DragonUncaged opened #451 "Car dealer ship website "costal saves" clone"
### Description

costal promise is car dealership website.
![image](https://user-images.githubusercontent.com/72241207/167289854-c7802db6-4f69-4ed6-ba17-6c57f788d056.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-08 09:21] DragonUncaged commented on #451
/assign

[2022-05-08 09:50] sohan2503001 opened #453 "Add HP Laptop Website clone"
### Description

I want to make HP laptop website clone
![Laptop-Computers-Desktops-Printers-Ink-Toner-HP®-India](https://user-images.githubusercontent.com/69068073/167290763-4531e99f-474c-4a0e-a5a0-ee13eab2248d.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-08 09:51] sohan2503001 commented on #453
/assign

[2022-05-08 10:13] DragonUncaged opened #454 "Intagram Reels Clone"
### Description

Instagram Reels Clone
![image](https://user-images.githubusercontent.com/72241207/167291586-f411db9f-3e5d-4c95-955b-a68462487480.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-08 10:13] DragonUncaged commented on #454
/assign

[2022-05-08 10:14] DragonUncaged opened #455 "Tik-tok Clone"
### Description

Clone Of tik-tok

![image](https://user-images.githubusercontent.com/72241207/167292297-3fa8aa78-44d3-4e5a-94d6-072850b2d256.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-08 10:14] DragonUncaged commented on #455
/assign

[2022-05-08 10:18] #438 closed

[2022-05-08 15:16] RAHULBAWA777 opened #457 "[New Issue]: GYM Website homepage"
### Description

GYM Website homepage with form submition
![gym](https://user-images.githubusercontent.com/91609324/167302909-a3df1f7c-efa2-4132-b61f-3e73b3e60d9c.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-09 02:07] Sukriti-m opened #458 "Add responsiveness to NVIDIA clone"
### Is your feature request related to a problem? Please describe.

NVIDIA clone is not responsive

### Describe the solution you'd like.

I will add responsiveness to it.

### Describe alternatives you've considered.

.

### Add any other context or screenshots about the feature request here.

_No response_

[2022-05-09 02:07] Sukriti-m commented on #458
/assign

[2022-05-09 02:47] #444 closed

[2022-05-09 02:49] gurjeetsinghvirdee commented on #445
Me ek baat bolu sabse faaltu kaam h ye badges ke sath README update krna🤣

[2022-05-09 02:50] #435 closed

[2022-05-09 02:51] gurjeetsinghvirdee commented on #397
are you still working on this issue @StillAbeginnerr

[2022-05-09 02:51] #432 closed

[2022-05-09 02:52] #301 closed

[2022-05-09 02:52] #302 closed

[2022-05-09 05:25] #458 closed

[2022-05-09 06:59] DragonUncaged opened #460 "Dog Website Urban Collar"
### Description

Dog Website

![image](https://user-images.githubusercontent.com/72241207/167356832-91999e90-486f-4706-a457-38e76d5e4894.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-09 06:59] DragonUncaged commented on #460
/assign

[2022-05-09 07:21] DragonUncaged opened #462 "Microsoft Excel Clone"
### Description

Excel Clone.

![image](https://user-images.githubusercontent.com/72241207/167359924-120fcb2c-731f-4dec-bba0-b689324b6773.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-09 07:21] DragonUncaged commented on #462
/assign

[2022-05-09 07:28] #447 closed

[2022-05-09 07:40] #454 closed

[2022-05-09 07:43] #449 closed

[2022-05-09 09:13] Adbnemesis opened #465 "My own Esports website"
### Description

I am thinking of making my own esports website. I will do only html and css part for now. I'll take help from the esports websites to make the website.  I request you to kindly assign to me this issue

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-09 09:15] Rayman-Sodhi commented on #445
haha koi nee order rhega about all clones

[2022-05-09 12:35] TANYA-CHAN opened #466 "[New Issue]: LinkedIn Clone"
### Description

A dynamic LinkedIn Clone includes a login/logout page entirely made from scratch by me and the readme includes the live link of the project.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-09 16:34] Sukriti-m opened #467 "PayPal Clone"
### Description

I want to create a PayPal HomePage Clone using the following tech stack:

HTML

CSS

ReactJS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-09 17:54] Avik-creator opened #469 "[New Issue]: Shopping Website Clone"
### Description

It is a clone of a shopping website.
![desktop](https://user-images.githubusercontent.com/77090462/167468755-91418111-8f40-45de-af8c-50678341c7a4.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-09 17:55] Avik-creator commented on #469
/assign

[2022-05-09 18:35] #466 closed

[2022-05-10 04:03] sohan2503001 opened #471 "Office Page in Microsoft Clone"
### Is your feature request related to a problem? Please describe.

Office page is missing in Microsoft website clone

### Describe the solution you'd like.

I would like to  add Office page to Microsoft webpage clone
![Office-Apps-Get-Microsoft-Office-now-part-of-Microsoft-365](https://user-images.githubusercontent.com/69068073/167540280-4ce2189e-3c6a-45fd-9515-ed0687c8e78b.png)

### Describe alt

[2022-05-10 04:03] sohan2503001 commented on #471
/assign

[2022-05-10 07:35] sethu400 commented on #366
Shall I work on this?

[2022-05-10 07:41] sethu400 commented on #345
Shall I work on this issue?

[2022-05-10 07:48] gurjeetsinghvirdee commented on #345
yeah sure @sethu400

[2022-05-10 07:48] gurjeetsinghvirdee commented on #366
@sethu400 assigned u

[2022-05-10 09:02] #453 closed

[2022-05-10 12:41] DragonUncaged opened #472 "Cartoon Network Clone"
### Description

html css
![image](https://user-images.githubusercontent.com/72241207/167630680-137da6f5-be51-47c6-aaa4-deac1bde86af.png)

Cartoon network

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-10 12:41] DragonUncaged commented on #472
/assign

[2022-05-10 12:43] DragonUncaged opened #473 "DC Comic Website"
### Description

html css

![image](https://user-images.githubusercontent.com/72241207/167631106-0e050f79-5e56-45d1-8e28-a372ee289c1e.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-10 12:44] DragonUncaged commented on #473
/assign

[2022-05-10 16:54] #469 closed

[2022-05-10 17:50] #451 closed

[2022-05-11 06:46] #462 closed

[2022-05-11 06:46] #460 closed

[2022-05-11 06:48] DragonUncaged opened #475 "Geeks For Geeks Clone"
### Description

A coding Website Geek For Geek Clone

- [x] html

- [ ]  css

- [x]  js

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-11 09:28] gurjeetsinghvirdee commented on #475
Assigned u @DragonUncaged

[2022-05-11 12:02] sohan2503001 opened #477 "Sphere Online Judge Clone"
### Description

I want to make the clone of SPOJ with html,css,javascript.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-11 12:02] sohan2503001 commented on #477
/assign

[2022-05-12 01:29] #471 closed

[2022-05-12 05:00] #477 closed

[2022-05-12 12:41] sohan2503001 opened #478 "Add About, Signup & Product page in Zerodha Clone"
### Is your feature request related to a problem? Please describe.

About , Signup & Product pages are missing in Zerodha Clone

### Describe the solution you'd like.

I want to add remaining pages in Zerodha Clone

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-05-12 12:41] sohan2503001 commented on #478
/assign

[2022-05-12 14:43] gurjeetsinghvirdee commented on #445
@aaryahjolia kro kr diya assign

[2022-05-12 14:47] aaryahjolia opened #479 "Patatap Clone"
### Description

Patatap clone, A website where you press keyboard keys and a random animation and sound will be played.

Screenshot of animation :

![image](https://user-images.githubusercontent.com/82600388/168102985-4563d5b5-c49d-4fdd-b26a-42a39e976187.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this pr

[2022-05-12 14:48] aaryahjolia commented on #479
/assign

[2022-05-13 06:08] #478 closed

[2022-05-13 06:40] sohan2503001 opened #483 "Vespa Website Clone"
### Description

I want to clone Vespa website in html , css, javascript.

![Vespa-Piaggio-Official-website-Vespa-com](https://user-images.githubusercontent.com/69068073/168225592-7796419e-1a92-4b0b-bd6f-9fdb3247c107.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-13 06:40] sohan2503001 commented on #483
/assign

[2022-05-13 07:44] DragonUncaged opened #486 "APK Mirror Clone"
### Description

![image](https://user-images.githubusercontent.com/72241207/168235899-801e0584-a6c0-4267-9b50-5ce70e87cdf2.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-14 03:58] sohan2503001 opened #489 "Tata Motors Clone"
### Description

I want to make Clone of Tata motors Website using html,css,javascript
![Largest-Automobile-Manufacturer-Biggest-Automobile-Company-in-India](https://user-images.githubusercontent.com/69068073/168409541-0c7494d7-7dc9-43d2-8dfd-74608d8a007f.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this pr

[2022-05-14 03:59] sohan2503001 commented on #489
/assign

[2022-05-14 16:08] #483 closed

[2022-05-14 16:10] #486 closed

[2022-05-14 16:12] #445 closed

[2022-05-14 17:15] #472 closed

[2022-05-14 17:15] #473 closed

[2022-05-15 07:05] mahiiverse1 opened #490 "[New Issue]: Add a Udemy clone"
### Description

I would like to add a clone of Udemy to this project. I will build the project using React JS. Please do assign me this issue!

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-15 08:33] DragonUncaged opened #491 "BBC News Clone"
### Description

![image](https://user-images.githubusercontent.com/72241207/168464332-96658044-dd24-4a09-a5c3-77fb6833fad0.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-15 08:33] DragonUncaged commented on #491
/assign

[2022-05-15 08:35] DragonUncaged opened #492 "Adidas Clone"
### Description

![image](https://user-images.githubusercontent.com/72241207/168464233-76b9ed09-6902-447d-9d4f-0e302f2ebc3a.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-15 08:36] DragonUncaged commented on #492
/assign

[2022-05-15 08:54] DragonUncaged opened #494 "Puma Clone"
### Description

Will Upload Soon..

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-15 08:56] DragonUncaged opened #496 "EA Sports Facebook Community"
### Description

![image](https://user-images.githubusercontent.com/72241207/168464959-0a186015-5a2e-4536-9e8b-e6959621138d.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-15 08:56] DragonUncaged commented on #496
/assign

[2022-05-15 08:59] DragonUncaged opened #498 "Stackoverflow Clone"
### Description

Will Upload soon

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-15 09:02] DragonUncaged opened #499 "HashNode Clone"
### Description

will upload soon...

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-15 14:32] Sukriti-m opened #500 "Authentication API using NodeJS"
### Is your feature request related to a problem? Please describe.

Authentication API using NodeJS

### Describe the solution you'd like.

A registration and login authentication API . The user's credentials will be stored in a MongoDB database. An OTP will be sent to the user's email to check if the email is valid or not. If login details are not found then the user is told to register. If the d

[2022-05-15 16:32] shrutiverma13 opened #501 "Card elements add in Ikea Clone"
### Is your feature request related to a problem? Please describe.

Completing the webpage.

### Describe the solution you'd like.

Adding the cards section in the website which is there in the original website.
<img width="825" alt="image" src="https://user-images.githubusercontent.com/74809049/168483485-55a8eb04-bf0c-4cfc-b1fd-250cefe2ccde.png">

### Describe alternatives you've considered.

_No

[2022-05-15 16:42] shrutiverma13 commented on #501
/assign @shrutiverma13

[2022-05-16 06:24] sohan2503001 opened #503 "Razer Website Clone"
### Description

I want to make Clone of Razer Website with html,css, javascript
![Razer-United-States-For-Gamers-By-Gamers-](https://user-images.githubusercontent.com/69068073/168531345-d0fff770-58fd-4128-881a-ca8fcd301afe.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-16 06:24] sohan2503001 commented on #503
/assign

[2022-05-16 06:40] DragonUncaged commented on #494
/assign

[2022-05-16 06:40] DragonUncaged commented on #499
/assign

[2022-05-16 06:41] DragonUncaged commented on #499
/assign

[2022-05-16 07:06] mahiiverse1 commented on #490
/assign

[2022-05-16 13:32] #503 closed

[2022-05-17 00:07] Kumar-laxmi opened #504 "New Balance UI Clone"
### Is your feature request related to a problem? Please describe.

Yes, since this is a website clone

### Describe the solution you'd like.

I will use HTML, CSS, JS and Bootstrap Library

### Describe alternatives you've considered.

No alternative

### Add any other context or screenshots about the feature request here.

<img width="1440" alt="Screenshot 2022-05-17 at 5 37 08 AM" src="https://

[2022-05-17 01:01] #492 closed

[2022-05-17 01:02] #491 closed

[2022-05-17 03:01] Kumar-laxmi commented on #504
/assign

[2022-05-17 03:19] sohan2503001 opened #506 "Add Pricing and Support Page in Zerodha Clone"
### Is your feature request related to a problem? Please describe.

Pricing and Support are missing in Zerodha Clone

### Describe the solution you'd like.

I would like to add Pricing and Support Page in Zerodha clone

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-05-17 03:19] sohan2503001 commented on #506
/assign

[2022-05-17 05:50] #506 closed

[2022-05-17 07:13] DragonUncaged opened #509 "BBC News"
### Description

![image](https://user-images.githubusercontent.com/72241207/168751401-8838f666-92a8-449a-98f7-79c1eab5d8d4.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-17 07:13] DragonUncaged commented on #509
/assign

[2022-05-17 11:57] DragonUncaged opened #511 "adidas clone"
### Description

.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-17 14:03] DragonUncaged commented on #511
/assign

[2022-05-17 14:20] #475 closed

[2022-05-17 16:23] #496 closed

[2022-05-17 16:24] #509 closed

[2022-05-17 16:26] #504 closed

[2022-05-17 17:28] sohan2503001 opened #513 "Add Pricing and Support page in Zerodha"
### Is your feature request related to a problem? Please describe.

Pricing and Support page are missing in Zerodha Clone

### Describe the solution you'd like.

I want to pricing and Support page

### Describe alternatives you've considered.

![Zerodha-Clone](https://user-images.githubusercontent.com/69068073/168874272-2cf6d172-8425-467e-ac07-0ff3dcf1edbc.png)

### Add any other context or screen

[2022-05-17 17:28] sohan2503001 commented on #513
/assign

[2022-05-17 17:48] #489 closed

[2022-05-17 18:23] sohan2503001 opened #515 "Goldman Sachs Clone"
### Description

I want to clone to Goldman Sachs Website in html, css and javascript
![Goldman-Sachs](https://user-images.githubusercontent.com/69068073/168883812-302e5d20-7254-4ae2-965c-c933d0defea5.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-17 18:23] sohan2503001 commented on #515
/assign

[2022-05-17 19:13] RAHULBAWA777 opened #516 "[New Issue]: Disney+ Clone (REACT)"
### Description

i want to add disney plus clone using create react  app

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-17 20:07] #511 closed

[2022-05-18 00:11] Kumar-laxmi opened #517 "Create Sketchers UI Clone"
### Is your feature request related to a problem? Please describe.

Yes, since this is a Website clone

### Describe the solution you'd like.

Here we will use HTML + CSS + JS + Bootstrap Library

### Describe alternatives you've considered.

No alternative

### Add any other context or screenshots about the feature request here.

<img width="1440" alt="Screenshot 2022-05-18 at 5 41 08 AM" src="ht

[2022-05-18 01:55] Kumar-laxmi commented on #517
/assign

[2022-05-18 10:50] sohan2503001 opened #519 "Rakuten Clone"
### Description

I want to make Clone of Rakuten Website in html,css and javascript
![Rakuten-Shop-Get-Cash-Back-Repeat-](https://user-images.githubusercontent.com/69068073/169022255-397a0cc4-b38e-4199-a2c3-9d6147cfc81f.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-18 10:51] sohan2503001 commented on #519
/assign

[2022-05-18 14:47] DragonUncaged opened #522 "Bumble"
### Description

[Clone Of Bumble](https://bumble.com/en-in/)

A dating Website

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-18 16:18] DragonUncaged opened #524 "Clear Tax"
### Description

A clone Of Cleartax.com

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-18 16:19] DragonUncaged commented on #524
/assign

[2022-05-18 17:07] #513 closed

[2022-05-18 18:29] pranjay-poddar opened #526 "Nike SNKRS Clone"
### Is your feature request related to a problem?
Please assign this task to me under GSSOC'22

Would like to add nike clone.

### Describe the solution you'd like.

In HTML CSS AND JS

### Describe alternatives you've considered.

NA

### Add any other context or screenshots about the feature request here.

_No response_

[2022-05-19 03:38] sohan2503001 opened #527 "Fila Clone"
### Description

I want to Clone Fila Website in html,css and javascript
![FILA-com-Official-Site-Sportswear-Sneakers-Tennis-Apparel-min](https://user-images.githubusercontent.com/69068073/169199220-4fb15f10-be96-4980-92cc-5f5bd6dd207a.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-19 03:38] sohan2503001 commented on #527
/assign

[2022-05-19 05:34] #515 closed

[2022-05-19 07:16] DragonUncaged opened #528 "Google Meet"
### Description

Clone Of Google Meet
HTML CSS JS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-19 08:21] shrutiverma13 opened #530 "Updates on the ZARA Clone"
### Is your feature request related to a problem? Please describe.

Updating the site to the current site content.

### Describe the solution you'd like.

Adding new site elements, changing images etc.

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the feature request here.

_No response_

[2022-05-19 08:22] shrutiverma13 commented on #530
/assign @shrutiverma13

[2022-05-19 08:23] #501 closed

[2022-05-19 09:18] #527 closed

[2022-05-19 09:18] #519 closed

[2022-05-19 09:20] #345 closed

[2022-05-19 09:20] #455 closed

[2022-05-19 09:21] #524 closed

[2022-05-19 13:36] sohan2503001 opened #533 "GeekforGeeks Clone"
### Description

I want to make clone of GeekforGeeks website in html,css and javascript
![GeeksforGeeks-A-computer-science-portal-for-geeks](https://user-images.githubusercontent.com/69068073/169306115-77a1d7d8-5d09-483f-9340-90c461a2f5a2.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-20 04:00] sohan2503001 opened #535 "Update W3Schools Clone"
### Is your feature request related to a problem? Please describe.

Current W3Schools is not updated to current website
![W3Schools-Online-Web-Tutorials](https://user-images.githubusercontent.com/69068073/169447321-21e4685b-aca7-4efc-8ddf-ad99c28ee94d.png)

### Describe the solution you'd like.

I would like Update it to current website
![W3Schools-Online-Web-Tutorials (1)](https://user-images.git

[2022-05-20 04:01] sohan2503001 commented on #535
/assign

[2022-05-20 07:28] #535 closed

[2022-05-20 15:46] #517 closed

[2022-05-20 15:47] #530 closed

[2022-05-20 15:55] RAHULBAWA777 opened #537 "[New Issue]: FashionTV Clone"
### Description

complete FTV clone

Stack - HTML CSS JS

ss -
![image](https://user-images.githubusercontent.com/91609324/169566307-c3b37437-0384-46ed-b10e-f2cd78fe2024.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-20 15:56] RAHULBAWA777 commented on #537
@gurjeetsinghvirdee  bhai jaan assign krdo ... video me pr me add kr duga

[2022-05-20 16:04] RAHULBAWA777 opened #538 "[New Issue]: iPhone 13 Commercial Website clone"
### Description

stack - HTML CSS JS

Fully Responsive With DARK AND LIGHT theme enabler

SS-
![image](https://user-images.githubusercontent.com/91609324/169567823-68afa9e4-5e0c-4342-9527-1e859459d7ef.png)

https://user-images.githubusercontent.com/91609324/169568213-3de77899-7416-43e2-a5e0-fdcc03481289.mp4

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-So

[2022-05-20 16:04] RAHULBAWA777 commented on #538
@gurjeetsinghvirdee ye bhi krdena ..... video will be in pr

[2022-05-20 17:58] gurjeetsinghvirdee commented on #538
#52

[2022-05-20 17:58] #538 closed

[2022-05-20 17:59] #537 closed

[2022-05-20 20:06] #533 closed

[2022-05-20 20:36] sohan2503001 opened #541 "Clubhouse Clone"
### Description

I want to make clone of Clubhouse Website

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-20 20:36] sohan2503001 commented on #541
/assign

[2022-05-20 23:44] Kumar-laxmi opened #543 "Add Khadim's UI Clone"
### Is your feature request related to a problem? Please describe.

Yes, since this is a UI Clone of a website

### Describe the solution you'd like.

I will be using HTML, CSS, JS and BootStrap Library

### Describe alternatives you've considered.

No alternative

### Add any other context or screenshots about the feature request here.

![Opera Snapshot_2022-05-21_051407_www khadims com](https://

[2022-05-21 12:07] Kumar-laxmi commented on #543
/assign

[2022-05-21 12:16] Mrjoy832 opened #545 "Telegram WebApp Clone"
### Description

Description of the project here:
I want to add **Telegram WebApp Clone** which will be made using **HTML,CSS,JS**

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-21 12:17] Mrjoy832 commented on #545
/assign

[2022-05-21 12:22] Kumar-laxmi opened #546 "Create a UI Clone of Yonex"
### Description

I will create a UI Clone of Yonex India Wesbite, the UI Clone will look like:
![Opera Snapshot_2022-05-21_175114_www yonex com](https://user-images.githubusercontent.com/76027425/169651347-c5479b74-feaa-4c44-bc8d-5374c2732e16.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-21 12:22] Kumar-laxmi commented on #546
/assign

[2022-05-21 13:55] pranjalkatiyar opened #547 "Riotgames UI clone"
### Description

Description of the project here
I will create a UI Clone of Riotgames, the UI Clone will look like:
![image](https://user-images.githubusercontent.com/76843696/169654837-d9df9394-8436-49a6-9e2b-e58dcc2f8522.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-21 13:56] pranjalkatiyar commented on #547
/assign

[2022-05-21 16:44] #543 closed

[2022-05-21 16:45] #545 closed

[2022-05-21 16:46] #541 closed

[2022-05-21 17:12] RAHULBAWA777 opened #549 "[New Issue]: ROLEX CLONE"
### Description

Description of the project here
STACK - HTML CSS JS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-21 17:40] RAHULBAWA777 commented on #549
/assign

[2022-05-21 18:35] piyusha2001 opened #551 "[New Issue]: Twitter Clone"
### Description

Making a twitter UI clone using HTML and CSS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-21 18:36] piyusha2001 commented on #551
/assign

[2022-05-21 19:05] #549 closed

[2022-05-22 05:25] Dharmesh177 opened #553 "AMAZON-CLONE"
### Description

I have made a clone of amazon with mern stack and firebase. For everyone who wants to learn to react framework, it will be more useful for them.

Technology used:
React
Redux
Firebase Authentication
Nodejs
Express Js
Firebase cloud

It is deployed on the firebase web server live.
URL:  https://clone-16e61.web.app/

We developed a FULL Amazon website with FULL E-Commerce Functional

[2022-05-22 05:26] Dharmesh177 commented on #553
@Rayman-Sodhi assign this issue so that i can start contributing to it.

[2022-05-22 16:02] sohan2503001 opened #555 "Evernote Clone"
### Description

I want to make Clone of Evernote Website in html,css and javascript

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-22 16:02] sohan2503001 commented on #555
/assign

[2022-05-23 02:44] RAHULBAWA777 opened #557 "[New Issue]: Razer Clone"
### Description

Description of the project here - Razer website clone

Html css js

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-23 04:50] pranjay-poddar commented on #526
@gurjeetsinghvirdee please review my PR.

[2022-05-23 12:55] sohan2503001 opened #561 "Marvel Movies Clone"
### Description

I want to make Clone of Marvel Movies homepage in html,css, and javascript

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-23 12:55] sohan2503001 commented on #561
/assign

[2022-05-23 14:10] #547 closed

[2022-05-23 14:37] Mrjoy832 commented on #401
@gurjeetsinghvirdee as No PR on this issue is made since a Month..Can you kindly assign this to me?

[2022-05-23 14:47] Mrjoy832 opened #562 "Hyundai Website Clone"
### Description

**Description of the project here**
I want to add  **Hyundai Website Clone** , which will be made **HTML,CSS,JS**

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-23 14:47] Mrjoy832 commented on #562
/assign

[2022-05-23 15:02] gurjeetsinghvirdee commented on #401
Assigned u @Mrjoy832

[2022-05-23 15:03] #555 closed

[2022-05-23 15:05] #557 closed

[2022-05-23 15:09] gurjeetsinghvirdee commented on #553
Assigned u @Dharmesh177

[2022-05-23 15:13] #526 closed

[2022-05-23 15:32] #516 closed

[2022-05-23 15:33] #342 closed

[2022-05-23 16:35] RAHULBAWA777 opened #563 "[New Issue]: Fortnite Clone"
### Description

Stack Used - HTL CSS JS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-23 16:36] RAHULBAWA777 commented on #563
/assign

[2022-05-23 19:13] #562 closed

[2022-05-23 21:06] #366 closed

[2022-05-24 04:04] #561 closed

[2022-05-24 06:07] sohan2503001 opened #567 "Trello Clone"
### Description

I want to make Clone of Trello Website in html,css and javascript

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-24 06:07] sohan2503001 commented on #567
/assign

[2022-05-24 09:48] hariketsheth commented on #467
@gurjeetsinghvirdee Since no PR was made till now. Can you assign this to me

[2022-05-24 09:53] gurjeetsinghvirdee commented on #467
Assigned u @hariketsheth

[2022-05-24 13:00] Dharmesh177 commented on #553
i am getting this error can you help to sort it out ASAP
![image](https://user-images.githubusercontent.com/77879603/170040774-b678d348-592c-485d-97dd-6db1c7e60ccb.png)

[2022-05-24 14:05] gurjeetsinghvirdee commented on #553
I think you cloned orignal repo,
You have to fork the orignal repo then make a clone of forked repo

[2022-05-25 07:27] Dharmesh177 opened #573 "youtube clone"
### Description

I have implemented a youtube clone using HTML CSS and javascript.

 It is 95% the same as youtube. I included a banner, a movable menu button, and some videos.
you can watch videos, comment, and subscribe .
There is an expandable description and a comment section.
 it is also responsive to mobile screens.

![preview2](https://user-images.githubusercontent.com/77879603/170205121-32

[2022-05-25 07:32] Dharmesh177 commented on #573
Hey menters assign this issue to me so that i can contribute. @Rayman-Sodhi @gurjeetsinghvirdee

[2022-05-25 07:33] gurjeetsinghvirdee commented on #573
Assigned to u @Dharmesh177

[2022-05-25 13:24] Mrjoy832 opened #575 "Mercedes Website Clone"
### Description

**Description of the project here:**
I want to add **Mercedes Website Clone** ,which will be made using **HTML,CSS,JS**.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-25 13:52] #575 closed

[2022-05-25 17:28] piyusha2001 opened #577 "Disney+ clone"
### Description

Making a Disney + clone using HTML,CSS and JS

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-25 17:28] #567 closed

[2022-05-25 17:29] piyusha2001 commented on #577
@gurjeetsinghvirdee  please assign me this issue so that i can start contributing

[2022-05-25 17:29] piyusha2001 commented on #577
/assign

[2022-05-25 17:30] #577 closed

[2022-05-25 17:33] piyusha2001 opened #578 "TinDog (Tinder for Dogs)"
### Description

This would be something different . I can make frontend for it using HTML,CSS and Bootstrap.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-25 17:39] gurjeetsinghvirdee commented on #578
ok make this

[2022-05-25 17:46] hariketsheth opened #579 "Docker Clone"
### Description

Would like to work on Docker Clone
Please assign it to me

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-25 20:19] DragonUncaged opened #582 "Notion Clone :"
### Description

Notion  WebApp Clone

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-26 01:42] sohan2503001 opened #583 "WorkFlowy Clone"
### Description

I want to Clone WorkFlowy in html,css and javascript

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-26 01:42] sohan2503001 commented on #583
/assign

[2022-05-26 04:01] DragonUncaged opened #586 "Sololearn Clone"
### Description

Sololearn website

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-26 04:34] Dharmesh177 opened #588 "Netflix Clone"
### Description

Netflix clone using HTML, CSS, and Javascript.

it has many features like login, header, footer, the main body of Netflix clone, various movie crime show tv shows, etc.

![preview5](https://user-images.githubusercontent.com/77879603/170416375-48012b9f-caef-40f6-8ab5-7e54b59a2eeb.png)
![preview4](https://user-images.githubusercontent.com/77879603/170416396-69eecfb1-8cdc-49ec-8d3a-1

[2022-05-26 04:36] Dharmesh177 commented on #588
hey, @Rayman-Sodhi @gurjeetsinghvirdee assign so that I can contribute as it is built from core web technology HTML CSS js it helps many peoples to learn that stuff.

[2022-05-26 04:38] gurjeetsinghvirdee commented on #588
Netflix already there you can check on readme list or deployed link
Make something new @Dharmesh177

[2022-05-26 04:38] #588 closed

[2022-05-26 05:11] shrey2003 opened #590 "Twitch Clone using React"
### Description

I want to make a twitch clone using HTML, CSS, ReactJs

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-26 05:12] shrey2003 commented on #590
@gurjeetsinghvirdee please assign me this issue

[2022-05-26 05:20] gurjeetsinghvirdee commented on #590
Assigned to u @shrey2003

[2022-05-26 07:12] Dharmesh177 opened #591 "CODECHEF"
### Description

Build using react-js, split the page into various components, that can be reused at multiple app parts: minimum code repetition and maximum code reusability.

The recent blog and recent questions section are connected to the real-time database of firebase. From there the data is fetched, manipulated, and then displayed in the UI.

![P1](https://user-images.githubusercontent.com/77

[2022-05-26 11:37] Mrjoy832 opened #593 "Coursera Website Clone"
### Description

Description of the project here:
I want to add  **Coursera Website Clone**  , which will be made using **HTML,CSS,JS** and the code will be **Responsive**.

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-26 11:40] Mrjoy832 commented on #593
/assign

[2022-05-26 15:43] #522 closed

[2022-05-26 15:44] #499 closed

[2022-05-26 15:45] #583 closed

[2022-05-26 17:27] RAHULBAWA777 opened #595 "[New Issue]: GSSoC Clone"
### Description

Description of the project here

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-26 17:28] RAHULBAWA777 commented on #595
/assign

[2022-05-26 17:32] #593 closed

[2022-05-26 17:42] aaryahjolia opened #596 "Loruki landing page"
### Description

I want to add a Loruki landing page.

Screenshot :

![image](https://user-images.githubusercontent.com/82600388/170535193-82b99e2c-a858-4eb2-8bab-7c39cc0e748f.png)

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-26 17:42] aaryahjolia commented on #596
/assign

[2022-05-26 18:13] #578 closed

[2022-05-26 18:14] #397 closed

[2022-05-27 01:37] DragonUncaged opened #600 "Windows 8 UI"
### Description

Windows 8

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-27 05:34] #595 closed

[2022-05-27 05:49] DragonUncaged opened #602 "Twitch Clone"
### Description

Twitch.com clone

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Rayman-Sodhi/Clone-IT#Contribution-Guidelines) of this project.

[2022-05-27 07:28] #579 closed

[2022-05-27 07:40] Dharmesh177 opened #603 "Skeleton Effect Guide"
### Is your feature request related to a problem? Please describe.

I saw almost every clone of this repo it seems like very less people applied the skeleton effect to their project.

### Describe the solution you'd like.

using skeleton we can attract more users because before our data is loaded it will show a temporary template.
hence I created a skeleton effect template using react js and I fet